@import 'partials/_settings';
@import 'partials/_reset';
@import 'partials/_foundation';
@import 'partials/_common';
@import 'partials/_app';
@import 'partials/_accounts';
@import 'partials/_approveTransaction';
@import 'partials/_ie8';
@import 'partials/_normalize';
@import 'partials/_pendingApproval';
@import 'partials/_personalAccounts';
@import 'partials/_style';
@import 'partials/_payment_ft_Confirmation';

.container{
	background:#d9e3ef;
}
.menu-logo {
display: inline-block;
cursor: pointer;
margin-top: 9px;
background: url("images/main-menu.png") no-repeat center;
height: 26px;
width: 26px;
}
.payment-FT-container-wrap {
padding: 10px 8px 10px 14px;
height: 620px;
}
.content-block-wrapper{
	height:420px;
}
.allacc-body-content-first-list-wrap{
	min-height : 270px;
}
.allacc-body-content-sec-wrap {
border: 1px solid #dfdfdf;
background: #fff;
font-family: HelveticaNeueLT Std Lt;
width: 100%;
min-height: 270px;
}
.top-bar-right{
	float:left;
	width:100%;

}
.loginCrossbutton{
	width:16px;height:27px;float:left;
}
.errMsg{
	font-size:20px;
	color:red;
}