<div class="allacc-body-content-sec-wrap clearfix">
                      <div class="allacc-content-heading-text">{{ account.accountType }}</div>
                      <div class="allacc-content-first-border"></div>
                      <p class="allacc-content-account-type">{{ account.accountType }}</p>
                      <p class="allacc-content-account-no">{{account.number }}</p>
                      <p class="allacc-content-balance-text">Available Balance</p>
                      <p class="clearfix"> <span class="allacc-content-currency-symbol">₦</span> <span class="allacc-content-balance-amount">{{ account.availableBalance.amount }}</span> </p>
                      <p class="allacc-content-balance-text">Current Balance</p>
                      <p class="clearfix"> <span class="allacc-content-currency-symbol">₦</span> <span class="allacc-content-balance-amount">{{ account.currentBalance.amount }}</span> </p>
</div>