<a>
                  <div class=" allacc-body-content-first-list-wrap ">
                  <div class="small-box">
                       <div class="inner-small-box">
                         
                       </div>
                     </div>
                    <div class="allacc-body-content-sec-wrap clearfix">
                      <div class="allacc-content-heading-text">{{ billdisplay.name }}</div>
                      <div class="allacc-content-first-border"></div>
                      <p class="allacc-content-account-type">{{ billdisplay.beneficiaryType }}</p>
                      <p class="allacc-content-account-no">{{ billdisplay.accountNumber }}</p>
                      <p class="allacc-content-balance-text"><span>Branch Code : </span>>{{ billdisplay.bank.branch.code }}</p>
                      <p class="allacc-content-balance-text">{{ billdisplay.bank.branch.name }}</p>
                      <p class="clearfix"> <span class="allacc-content-balance-amount">{{ billdisplay.bank.name }}</span> </p>
                    </div>
                  </div>
                </a>