           <div class="menu-overlay" ng-show="showOverlay">
              <div class="grid-container">
                  <ul class="menu-list">
                      <li class="menu-option">
                        <a href="dashboard.html">
                          <div><img src="images/dashboard.png"></div>
                          <div class="main-menu-txt">Dashboard</div>
                        </a>
                      </li>
                      <li class="menu-option">
                        <a href="allAccounts.html">
                          <div><img src="images/accounts.png"></div>
                          <div class="main-menu-txt">Accounts</div>
                        </a>
                      </li>
                      <li class="menu-option">
                        <a href="payments.html">
                          <div><img src="images/payments.png"></div>
                          <div class="main-menu-txt">Payments</div>
                        </a>
                      </li>
                      <li class="menu-option">
                          <div><img src="images/services.png"></div>
                          <div class="main-menu-txt">Services</div>
                      </li>
                      <li class="menu-option">
                          <div><img src="images/pfm.png"></div>
                          <div class="main-menu-txt">PFM</div>
                      </li>
                      <li class="menu-option">
                        <a href="pendingApproval.html">
                          <div><img src="images/tick.png"></div>
                          <div class="main-menu-txt">Approvals</div>
                        </a>
                      </li>
                  </ul>
              </div>
          </div>
