@font-face {
    font-family: HelveticaNeueLT Std Med;
    src: url(../../src/fonts/HelveticaNeueLTCom-Md.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std Lt;
    src: url(../../src/fonts/HelveticaNeueLTCom-Lt.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std UltLt;
    src: url(../../src/fonts/HelveticaNeueLTStd-UltLt_0.otf);
}

@font-face {
    font-family: HelveticaNeueLT Std Bold;
    src: url(../../src/fonts/HelveticaNeueLTCom-Bd.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std Roman;
    src: url(../../src/fonts/HelveticaNeueLTCom-Roman.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std Thin;
    src: url(../../src/fonts/HelveticaNeueLTStd-Th_0.otf);
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, select, input {
  letter-spacing: 0;
  word-spacing: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /*  font-family:'Roboto', Arial, Helvetica, sans-serif; */
  font-weight: 400; }

.row {
  max-width: 90rem; }

/*CSS Reset*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #e9e9e9; }

.grid-container {
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box; }

/*CSS Reset*/
.float-l {
  float: left; }

.float-r {
  float: right; }

.clearfix {
  clear: both; }

.display-ib {
  display: inline-block; }

.h-100 {
  height: 100%; }

.header-wrapper {
  height: 120px;
  width: 100%;
  /*border-bottom: 1px solid #b9b9b9; */ }

.top-bar {
  background: #03448c;
  color: #fff;
  height: 60px;
  margin: 0;
  overflow: visible;
  z-index: 1; }

.main-menu-bar {
  height: 60px;
  color: white;
  background: #333;
  /*border-bottom: 1px solid #333333; */ }

.top-bar-left {
  height: 100%; }

.menu-small {
  padding-top: 17px;
  margin-right: 10px;
  margin-left: 10px; }

.logo {
  /*margin-left: 30px;*/
  /*background: url('../../src/images/bank-logo.png') no-repeat;*/
  /*background-size: 50%;*/
  margin-left: 5px;
  padding-top: 15px;
  cursor: pointer;
  display: inline-block; }

.bank-name {
  display: inline-block;
  margin-left: 8px; }

.top-bar-right {
  height: 100%; }

.logout {
  height: 100%;
  padding-top: 15px;
  cursor: pointer;
  text-align: center;
  border-left: 1px solid #3a6ea8;
  background: #04468d; }

.logout-pic {
  margin-right: 20px;
  margin-left: 20px; }

.account {
  height: 100%;
  background: #033e7f; }

.acc-pic {
  height: 50px;
  width: 50px; }

.acc-name {
  vertical-align: middle;
  margin-top: -57px;
  font: menu;
  line-height: 12px;
  padding-top: 25px;
  /*width: 108px;*/
  width: 90px;
  /*padding-left: 10px;*/
  padding-left: 5px;
  height: 100%;
  display: inline-block; }

.personal-banking {
  color: #979798;
  font-size: 10px; }

.arrow {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-top: -52px;
  padding-top: 12px;
  margin-right: 10px; }

.message {
  height: 100%;
  cursor: pointer;
  margin-right: 30px; }

.msg-logo {
  padding-top: 12px; }

.dash {
  height: 100%; }

.dashboard {
  margin-top: 8px;
  height: 46px;
  /*margin-left: 30px;*/
  margin-left: 5px;
  border-right: 2px solid #484848; }

.dashboard-active {
  margin-top: 8px;
  height: 46px;
  /*margin-left: 30px;*/
  margin-left: 5px;
  border: 0px;}

.menu-logo {
  display: inline-block;
  cursor: pointer;
  margin-top: 7px;
  background: url('../../src/images/main-menu.png');
  height: 26px;
  width: 26px;
 }
.menu-logo-active{
   display: inline-block;
  cursor: pointer;
  margin-top: 11px;
  background: url('../../src/images/close_subheader_1x.png') no-repeat;
  height: 26px;
  width: 26px;
}
.menu-rb{
  float: left;
  height: 60px;
}
.menu-rb-active{
  float: left;
  height: 60px;
  border-right: 2px solid #484848;
}
.opac{
  opacity: 0.2;
}
.menu-txt {
  font-size: 10px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 20px;
  vertical-align: top;
  font-size: 10px;
font-family: HelveticaNeueLT Std Roman;
  margin-top: 10px; }

.dash-txt {
  height: 100%;
  padding-top: 20px;
  padding-left: 15px;
  color: #fff;
  font-size: 18px;
  font-weight: 700; }

.dash-options {
  font-size: 10px;
font-family: HelveticaNeueLT Std Roman;
  height: 100%; }

.option-block {
  border-left: 1px solid #484848;
  cursor: pointer;
  height: 100%;
  padding-top: 20px;
  float: right; }

.option-logo {
  display: inline-block;
  margin-left: 15px;
  vertical-align: top;
  margin-top: 2px; }

.option-txt {
  font-size: 11px;
  display: inline-block;
  margin-right: 15px; }


  .menu-overlay{
  width: 100%;
  background: #333333;
  border-top: 1px solid #484848;
  position: absolute;
  z-index: 1;
}
.menu-list{
  width: 100%;
}
.menu-option{
  width: 16.25%;
  /*height: 100px;*/
  padding-top: 30px;
  padding-bottom: 35px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.main-menu-txt{
 font-size: 12px;
 color: white;
}
.display-none{
  display: none;
}

.quicktransfer-overlay{
  width: 100%;
  /*height: 100px;*/
  background: #d8d8d8;
 /*opacity: 0.8;*/
  position: absolute;
  z-index: 1;

}
.transfer-options{
  width: 100%;
}
.transfer-opt{
  width: 250px;
  height: 40px;
   margin-left: 95px;
  margin-top: 25px;
  background: #eeeeee;
  border-radius: 3px;  
  margin-bottom: 30px;
}
.transfer-pay{
  font-size: 12px;
  font-family: HelveticaNeueLT Std Med;
  display: inline-block;
   padding-top: 15px;
  width: 50%;
  height: 100%;
  text-align: center;
  color: #2570e0;
  cursor: pointer;
  opacity: 1;
}
.selected-transfer-pay{
   background: #666666;
   color: #fff;
   position: relative;
   /*width: 125px;*/
}
.selected-transfer-pay:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(102, 102, 102, 0);
  border-top-color: #666666;
  border-width: 8px;
  margin-left: -7px;
}
.upcoming-payment-block{
  width: 100%;
  padding-left: 95px;
 
}
.upcoming-date{
  /*width: 175px;*/
  display: inline-block;
  float: left;
  width: 20.5%;
}
.pd-select-date {
font-size: 33px;
font-family: HelveticaNeueLT Std UltLt;
letter-spacing: 1px;
}
.pd-select-month {
font-family: HelveticaNeueLT Std Med;
font-size: 12px;
margin-top: -5px;
padding-left: 8px;
letter-spacing: 5px;
color: #666666;
/*text-align: center;*/
}
.upcoming-month{
  display: inline-block;
}
.upcoming-left-arrow{
  display: inline-block;
  float: left;
  padding-top: 11px;
  margin-right: 15px;
}
.upcoming-right-arrow{
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
  margin-left: 10px;
}
.upcoming-payment-fullblock{
  width: 79%;
 
  display: inline-block;
  padding-top: 8px;
}
.upcoming-pay-container{
  /*padding: 22px 10px 15px 54px;*/
  width: 275px;
font-size: 12px;
line-height: 1.3;
font-family: HelveticaNeueLT Std Med;
padding-bottom: 15px;
border-bottom: 1px dashed #a6a6a6;
display: inline-block;
margin-right: 60px;
margin-bottom: 15px;
}
.upcoming-pay-amt{
  font-family: HelveticaNeueLT Std Bold;
  color: #333;
  font-size: 14px;
}
.upcoming-pay-date{
  font-family: HelveticaNeueLT Std Lt;
  color: #666;
  font-size: 13px;
}
.upcoming-pay-name{
  font-family: HelveticaNeueLT Std Med;
  color: #333;
  font-size: 12px;
}
.upcoming-pay-left{
  float: left;
  margin-left: 8px;
}
.upcoming-pay-button{
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
.upcoming-pay-btn{
  width: 70px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  padding-top: 8px;
  color: #999;
  cursor: pointer;
  background: #f7f7f7;
  font-family: HelveticaNeueLT Std Bold;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  border-top:0px; 
}



/*********************  END HEADER ************************************/
@media only screen and (max-width: 640px) {
  .bank-name {
    display: none; }

  .acc-name {
    display: none; }

  .logo {
    margin-left: 10px; }

  .option-txt {
    display: none; }

  .message {
    margin-right: 25px; }

  .arrow {
    margin-right: 5px;
    margin-left: 5px; }

  .logout-pic {
    margin-right: 10px;
    margin-left: 10px; }

  .dashboard {
    display: none; }

  .dash-txt {
    font-weight: lighter;
    color: #333;
    font-size: 18px;
/* font-weight: 700; */
font-family: HelveticaNeueLT Std Bold;
    padding-top: 25px; }

  .option-logo {
    margin-right: 12px;
    margin-left: 12px; }

  .avail-bal {
    display: none; }

  .content-center {
    display: none; }

  .add-account {
    display: none; } }
/*body content*/
.grid-container {
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box; }

.all-accounts-body-container {
  padding: 48px 10px; }

.allaccounts-sub-header-text {
  color: #333333;
  font-size: 32px;
  font-family: HelveticaNeueLT Std Thin;
  float: left;
  margin-left: 6px; }

.allaccounts-sub-header-image {
 height: 20px;
width: 20px;
float: right;
cursor: pointer;
margin-right: 20px;
margin-top: 10px; }

.allacc-body-content-wrapper {
  margin: 17px 0;
  /*width: 100%;*/ }

/*.allacc-body-content-first-wrap{
  width: 31%;
  float: left;
  border: 2px solid #dfdfdf;
  padding: 5px;
  background: #f0f0f0;
  box-shadow: 1px 1px 1px 1px #dedede;
  margin: 1em 1.3em 1em 0em;
}*/
.body-wrap {
  padding: 1em 1.3em 0.3em 0em;
  float: left !important; }

.allacc-body-content-first-list-wrap {
  width: 100%;
  float: left;
  border: 2px solid #dfdfdf;
  padding: 5px;
  background: #f0f0f0;
  box-shadow: 1px 1px 1px 1px #dedede; }

.allacc-body-content-first-list-wrap > div > div.allacc-content-heading-text {
  
  font-size:18px;
  color: #6daf56; }

.allacc-body-content-first-list-wrap > div > p > span {
  color: #6daf56; }

.allacc-body-content-second-list-wrap {
  width: 100%;
  float: left;
  border: 2px solid #dfdfdf;
  padding: 5px;
  background: #f0f0f0;
  box-shadow: 1px 1px 1px 1px #dedede; }

.allacc-body-content-second-list-wrap > div > div.allacc-content-heading-text {
  color: #2570e0; }

.allacc-body-content-second-list-wrap > div > p > span {
  color: #2570e0; }

.allacc-body-content-third-list-wrap {
  width: 100%;
  float: left;
  border: 2px solid #dfdfdf;
  padding: 5px;
  background: #f0f0f0;
  box-shadow: 1px 1px 1px 1px #dedede; }

.allacc-body-content-third-list-wrap > div > div.allacc-content-heading-text {
  color: #fa8339; }

.allacc-body-content-third-list-wrap > div > p > span {
  color: #fa8339; }

.allacc-body-content-fourth-list-wrap {
  width: 100%;
  float: left;
  border: 2px solid #dfdfdf;
  padding: 5px;
  background: #f0f0f0;
  box-shadow: 1px 1px 1px 1px #dedede; }

.allacc-body-content-fourth-list-wrap > div > div.allacc-content-heading-text {
  color: #fa8339; }

.allacc-body-content-fourth-list-wrap > div > p > span {
  color: #fa8339; }

.allacc-body-content-sec-wrap {
  border: 1px solid #dfdfdf;
  background: #fff;
  font-family: HelveticaNeueLT Std Lt;
  width: 100%; }

.allacc-content-heading-text {
  margin: 11px 13px 16px 13px;
  float: left;
  font-size: 18px;
  font-weight: 500; }

.allacc-content-first-border {
  background: #6daf56;
  background: -moz-linear-gradient(left, #6daf56 0%, #6daf56 51%, #7ab665 62%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #6daf56), color-stop(51%, #6daf56), color-stop(62%, #7ab665), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(left, #6daf56 0%, #6daf56 51%, #7ab665 62%, #ffffff 100%);
  background: -o-linear-gradient(left, #6daf56 0%, #6daf56 51%, #7ab665 62%, #ffffff 100%);
  background: -ms-linear-gradient(left, #6daf56 0%, #6daf56 51%, #7ab665 62%, #ffffff 100%);
  background: linear-gradient(to right, #6daf56 0%, #6daf56 51%, #7ab665 62%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6daf56', endColorstr='#ffffff',GradientType=1 );
  height: 3px;
  width: 88%;
  float: left;
  margin-bottom: 18px; }

.allacc-content-second-border {
  background: #2570e0;
  /* Old browsers */
  background: -moz-linear-gradient(left, #2570e0 0%, #034a9b 41%, #0850a5 54%, #73a3e9 75%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #2570e0), color-stop(41%, #034a9b), color-stop(54%, #0850a5), color-stop(75%, #73a3e9), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #2570e0 0%, #034a9b 41%, #0850a5 54%, #73a3e9 75%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #2570e0 0%, #034a9b 41%, #0850a5 54%, #73a3e9 75%, #ffffff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #2570e0 0%, #034a9b 41%, #0850a5 54%, #73a3e9 75%, #ffffff 100%);
  /* IE10+ */
  background: linear-gradient(to right, #2570e0 0%, #034a9b 41%, #0850a5 54%, #73a3e9 75%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2570e0', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 */
  height: 3px;
  width: 88%;
  float: left;
  margin-bottom: 18px; }

.allacc-content-third-border {
  background: #fa8339;
  /* Old browsers */
  background: -moz-linear-gradient(left, #fa8339 0%, #fa8339 51%, #fb9c61 71%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fa8339), color-stop(51%, #fa8339), color-stop(71%, #fb9c61), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #fa8339 0%, #fa8339 51%, #fb9c61 71%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #fa8339 0%, #fa8339 51%, #fb9c61 71%, #ffffff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #fa8339 0%, #fa8339 51%, #fb9c61 71%, #ffffff 100%);
  /* IE10+ */
  background: linear-gradient(to right, #fa8339 0%, #fa8339 51%, #fb9c61 71%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa8339', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 */
  height: 3px;
  width: 88%;
  float: left;
  margin-bottom: 18px; }

.allacc-content-fourth-border {
  background: #fa8339;
  /* Old browsers */
  background: -moz-linear-gradient(left, #fa8339 0%, #fa8339 51%, #fb9c61 71%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fa8339), color-stop(51%, #fa8339), color-stop(71%, #fb9c61), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #fa8339 0%, #fa8339 51%, #fb9c61 71%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #fa8339 0%, #fa8339 51%, #fb9c61 71%, #ffffff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #fa8339 0%, #fa8339 51%, #fb9c61 71%, #ffffff 100%);
  /* IE10+ */
  background: linear-gradient(to right, #fa8339 0%, #fa8339 51%, #fb9c61 71%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa8339', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 */
  height: 3px;
  width: 88%;
  float: left;
  margin-bottom: 18px; }

.allacc-content-account-type {
  float: left;
  font-size: 10px;
  margin-left: 14px;
  width: 100%;
  color: #000000; }

.allacc-content-account-no {
  float: left;
  font-size: 12px;
  margin-left: 14px;
  width: 100%;
  color: #000000; }

.allacc-content-balance-text {
 float: left;
margin-left: 13px;
color: #000000;
font-size: 14px;
font-family: HelveticaNeueLT Std Roman;
margin-top: 25px;
width: 100%; }

.allacc-content-balance-amount {
  float: left;
  margin-left: 3%;
  /*font-weight: 700;*/
  font-size: 30px;
  font-family: HelveticaNeueLT Std Bold;
  margin: 1px 0em 11px 7px; }

.allacc-content-currency-symbol {
  float: left;
  margin-left: 3%;
  font-weight: 500;
  margin: 2px 0em 8px 11px;
  font-size: 30px; }

/*# sourceMappingURL=accounts.css.map */
@media only screen and (max-width: 64em) {
  .body-wrap {
    padding: 1em 0.6em 0.3em 0.6em;
    float: left !important; } }
/*# sourceMappingURL=accounts.css.map */
.small-box {
  content: "";
  position: absolute;
  top: 28px;
  right: 26px;
  width: 96px;
  height: 83px;
  border-radius: 22px;
  transform: rotate(45deg);
  -webkit-transform:rotate(45deg);
   -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
     -o-transform:rotate(45deg);

  background: #tr;
  border-top: 2px solid #dfdfdf;
  padding: 5px;
  box-shadow: 0px 0px 0px 0px #dedede; }

.inner-small-box {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  border-top: 1px solid #dfdfdf;
  box-shadow: none; }

.allacc-body-content-first-list-wrap:before, .allacc-body-content-second-list-wrap:before, .allacc-body-content-third-list-wrap:before, .allacc-body-content-fourth-list-wrap:before {
  content: "";
  position: absolute;
  top: -1%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-top: 100px solid #e9e9e9;
  border-left: 98px solid transparent; }

@media only screen and (max-width: 64em) {
  .small-box {
    content: "";
    position: absolute;
    top: 32px;
    right: 18px;
    width: 114px;
    height: 99px;
    border-radius: 22px;
    transform: rotate(45deg);
    -webkit-transform:rotate(45deg);
   -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
     -o-transform:rotate(45deg);
    background: #tr;
    border-top: 2px solid #dfdfdf;
    padding: 5px;
    box-shadow: 0px 0px 0px 0px #dedede; } }

/*# sourceMappingURL=accounts.css.map */
