.icon-bar.two-up .item {
  width: 50%; }
.icon-bar.two-up.vertical .item {
  width: auto; }
.icon-bar.three-up .item {
  width: 33.3333%; }
.icon-bar.three-up.vertical .item {
  width: auto; }
.icon-bar.four-up .item {
  width: 25%; }
.icon-bar.four-up.vertical .item {
  width: auto; }
.icon-bar.five-up .item {
  width: 20%; }
.icon-bar.five-up.vertical .item {
  width: auto; }
.icon-bar.six-up .item {
  width: 16.66667%; }
.icon-bar.six-up.vertical .item {
  width: auto; }

/* small displays */
@media only screen {
  .show-for-small-only, .show-for-small-up, .show-for-small, .show-for-small-down, .hide-for-medium-only, .hide-for-medium-up, .hide-for-medium, .show-for-medium-down, .hide-for-large-only, .hide-for-large-up, .hide-for-large, .show-for-large-down, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xlarge, .show-for-xlarge-down, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .hide-for-xxlarge, .show-for-xxlarge-down {
    display: inherit !important; }

  .hide-for-small-only, .hide-for-small-up, .hide-for-small, .hide-for-small-down, .show-for-medium-only, .show-for-medium-up, .show-for-medium, .hide-for-medium-down, .show-for-large-only, .show-for-large-up, .show-for-large, .hide-for-large-down, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xlarge, .hide-for-xlarge-down, .show-for-xxlarge-only, .show-for-xxlarge-up, .show-for-xxlarge, .hide-for-xxlarge-down {
    display: none !important; }

  .visible-for-small-only, .visible-for-small-up, .visible-for-small, .visible-for-small-down, .hidden-for-medium-only, .hidden-for-medium-up, .hidden-for-medium, .visible-for-medium-down, .hidden-for-large-only, .hidden-for-large-up, .hidden-for-large, .visible-for-large-down, .hidden-for-xlarge-only, .hidden-for-xlarge-up, .hidden-for-xlarge, .visible-for-xlarge-down, .hidden-for-xxlarge-only, .hidden-for-xxlarge-up, .hidden-for-xxlarge, .visible-for-xxlarge-down {
    position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto; }

  .hidden-for-small-only, .hidden-for-small-up, .hidden-for-small, .hidden-for-small-down, .visible-for-medium-only, .visible-for-medium-up, .visible-for-medium, .hidden-for-medium-down, .visible-for-large-only, .visible-for-large-up, .visible-for-large, .hidden-for-large-down, .visible-for-xlarge-only, .visible-for-xlarge-up, .visible-for-xlarge, .hidden-for-xlarge-down, .visible-for-xxlarge-only, .visible-for-xxlarge-up, .visible-for-xxlarge, .hidden-for-xxlarge-down {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px); }

  table.show-for-small-only, table.show-for-small-up, table.show-for-small, table.show-for-small-down, table.hide-for-medium-only, table.hide-for-medium-up, table.hide-for-medium, table.show-for-medium-down, table.hide-for-large-only, table.hide-for-large-up, table.hide-for-large, table.show-for-large-down, table.hide-for-xlarge-only, table.hide-for-xlarge-up, table.hide-for-xlarge, table.show-for-xlarge-down, table.hide-for-xxlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge, table.show-for-xxlarge-down {
    display: table; }

  thead.show-for-small-only, thead.show-for-small-up, thead.show-for-small, thead.show-for-small-down, thead.hide-for-medium-only, thead.hide-for-medium-up, thead.hide-for-medium, thead.show-for-medium-down, thead.hide-for-large-only, thead.hide-for-large-up, thead.hide-for-large, thead.show-for-large-down, thead.hide-for-xlarge-only, thead.hide-for-xlarge-up, thead.hide-for-xlarge, thead.show-for-xlarge-down, thead.hide-for-xxlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge, thead.show-for-xxlarge-down {
    display: table-header-group !important; }

  tbody.show-for-small-only, tbody.show-for-small-up, tbody.show-for-small, tbody.show-for-small-down, tbody.hide-for-medium-only, tbody.hide-for-medium-up, tbody.hide-for-medium, tbody.show-for-medium-down, tbody.hide-for-large-only, tbody.hide-for-large-up, tbody.hide-for-large, tbody.show-for-large-down, tbody.hide-for-xlarge-only, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge, tbody.show-for-xlarge-down, tbody.hide-for-xxlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge, tbody.show-for-xxlarge-down {
    display: table-row-group !important; }

  tr.show-for-small-only, tr.show-for-small-up, tr.show-for-small, tr.show-for-small-down, tr.hide-for-medium-only, tr.hide-for-medium-up, tr.hide-for-medium, tr.show-for-medium-down, tr.hide-for-large-only, tr.hide-for-large-up, tr.hide-for-large, tr.show-for-large-down, tr.hide-for-xlarge-only, tr.hide-for-xlarge-up, tr.hide-for-xlarge, tr.show-for-xlarge-down, tr.hide-for-xxlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge, tr.show-for-xxlarge-down {
    display: table-row !important; }

  th.show-for-small-only, td.show-for-small-only, th.show-for-small-up, td.show-for-small-up, th.show-for-small, td.show-for-small, th.show-for-small-down, td.show-for-small-down, th.hide-for-medium-only, td.hide-for-medium-only, th.hide-for-medium-up, td.hide-for-medium-up, th.hide-for-medium, td.hide-for-medium, th.show-for-medium-down, td.show-for-medium-down, th.hide-for-large-only, td.hide-for-large-only, th.hide-for-large-up, td.hide-for-large-up, th.hide-for-large, td.hide-for-large, th.show-for-large-down, td.show-for-large-down, th.hide-for-xlarge-only, td.hide-for-xlarge-only, th.hide-for-xlarge-up, td.hide-for-xlarge-up, th.hide-for-xlarge, td.hide-for-xlarge, th.show-for-xlarge-down, td.show-for-xlarge-down, th.hide-for-xxlarge-only, td.hide-for-xxlarge-only, th.hide-for-xxlarge-up, td.hide-for-xxlarge-up, th.hide-for-xxlarge, td.hide-for-xxlarge, th.show-for-xxlarge-down, td.show-for-xxlarge-down {
    display: table-cell !important; } }
/* medium displays */
@media only screen and (min-width: 40.063em) {
  .hide-for-small-only, .show-for-small-up, .hide-for-small, .hide-for-small-down, .show-for-medium-only, .show-for-medium-up, .show-for-medium, .show-for-medium-down, .hide-for-large-only, .hide-for-large-up, .hide-for-large, .show-for-large-down, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xlarge, .show-for-xlarge-down, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .hide-for-xxlarge, .show-for-xxlarge-down {
    display: inherit !important; }

  .show-for-small-only, .hide-for-small-up, .show-for-small, .show-for-small-down, .hide-for-medium-only, .hide-for-medium-up, .hide-for-medium, .hide-for-medium-down, .show-for-large-only, .show-for-large-up, .show-for-large, .hide-for-large-down, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xlarge, .hide-for-xlarge-down, .show-for-xxlarge-only, .show-for-xxlarge-up, .show-for-xxlarge, .hide-for-xxlarge-down {
    display: none !important; }

  .hidden-for-small-only, .visible-for-small-up, .hidden-for-small, .hidden-for-small-down, .visible-for-medium-only, .visible-for-medium-up, .visible-for-medium, .visible-for-medium-down, .hidden-for-large-only, .hidden-for-large-up, .hidden-for-large, .visible-for-large-down, .hidden-for-xlarge-only, .hidden-for-xlarge-up, .hidden-for-xlarge, .visible-for-xlarge-down, .hidden-for-xxlarge-only, .hidden-for-xxlarge-up, .hidden-for-xxlarge, .visible-for-xxlarge-down {
    position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto; }

  .visible-for-small-only, .hidden-for-small-up, .visible-for-small, .visible-for-small-down, .hidden-for-medium-only, .hidden-for-medium-up, .hidden-for-medium, .hidden-for-medium-down, .visible-for-large-only, .visible-for-large-up, .visible-for-large, .hidden-for-large-down, .visible-for-xlarge-only, .visible-for-xlarge-up, .visible-for-xlarge, .hidden-for-xlarge-down, .visible-for-xxlarge-only, .visible-for-xxlarge-up, .visible-for-xxlarge, .hidden-for-xxlarge-down {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px); }

  table.hide-for-small-only, table.show-for-small-up, table.hide-for-small, table.hide-for-small-down, table.show-for-medium-only, table.show-for-medium-up, table.show-for-medium, table.show-for-medium-down, table.hide-for-large-only, table.hide-for-large-up, table.hide-for-large, table.show-for-large-down, table.hide-for-xlarge-only, table.hide-for-xlarge-up, table.hide-for-xlarge, table.show-for-xlarge-down, table.hide-for-xxlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge, table.show-for-xxlarge-down {
    display: table; }

  thead.hide-for-small-only, thead.show-for-small-up, thead.hide-for-small, thead.hide-for-small-down, thead.show-for-medium-only, thead.show-for-medium-up, thead.show-for-medium, thead.show-for-medium-down, thead.hide-for-large-only, thead.hide-for-large-up, thead.hide-for-large, thead.show-for-large-down, thead.hide-for-xlarge-only, thead.hide-for-xlarge-up, thead.hide-for-xlarge, thead.show-for-xlarge-down, thead.hide-for-xxlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge, thead.show-for-xxlarge-down {
    display: table-header-group !important; }

  tbody.hide-for-small-only, tbody.show-for-small-up, tbody.hide-for-small, tbody.hide-for-small-down, tbody.show-for-medium-only, tbody.show-for-medium-up, tbody.show-for-medium, tbody.show-for-medium-down, tbody.hide-for-large-only, tbody.hide-for-large-up, tbody.hide-for-large, tbody.show-for-large-down, tbody.hide-for-xlarge-only, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge, tbody.show-for-xlarge-down, tbody.hide-for-xxlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge, tbody.show-for-xxlarge-down {
    display: table-row-group !important; }

  tr.hide-for-small-only, tr.show-for-small-up, tr.hide-for-small, tr.hide-for-small-down, tr.show-for-medium-only, tr.show-for-medium-up, tr.show-for-medium, tr.show-for-medium-down, tr.hide-for-large-only, tr.hide-for-large-up, tr.hide-for-large, tr.show-for-large-down, tr.hide-for-xlarge-only, tr.hide-for-xlarge-up, tr.hide-for-xlarge, tr.show-for-xlarge-down, tr.hide-for-xxlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge, tr.show-for-xxlarge-down {
    display: table-row !important; }

  th.hide-for-small-only, td.hide-for-small-only, th.show-for-small-up, td.show-for-small-up, th.hide-for-small, td.hide-for-small, th.hide-for-small-down, td.hide-for-small-down, th.show-for-medium-only, td.show-for-medium-only, th.show-for-medium-up, td.show-for-medium-up, th.show-for-medium, td.show-for-medium, th.show-for-medium-down, td.show-for-medium-down, th.hide-for-large-only, td.hide-for-large-only, th.hide-for-large-up, td.hide-for-large-up, th.hide-for-large, td.hide-for-large, th.show-for-large-down, td.show-for-large-down, th.hide-for-xlarge-only, td.hide-for-xlarge-only, th.hide-for-xlarge-up, td.hide-for-xlarge-up, th.hide-for-xlarge, td.hide-for-xlarge, th.show-for-xlarge-down, td.show-for-xlarge-down, th.hide-for-xxlarge-only, td.hide-for-xxlarge-only, th.hide-for-xxlarge-up, td.hide-for-xxlarge-up, th.hide-for-xxlarge, td.hide-for-xxlarge, th.show-for-xxlarge-down, td.show-for-xxlarge-down {
    display: table-cell !important; } }
/* large displays */
@media only screen and (min-width: 64.063em) {
  .hide-for-small-only, .show-for-small-up, .hide-for-small, .hide-for-small-down, .hide-for-medium-only, .show-for-medium-up, .hide-for-medium, .hide-for-medium-down, .show-for-large-only, .show-for-large-up, .show-for-large, .show-for-large-down, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xlarge, .show-for-xlarge-down, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .hide-for-xxlarge, .show-for-xxlarge-down {
    display: inherit !important; }

  .show-for-small-only, .hide-for-small-up, .show-for-small, .show-for-small-down, .show-for-medium-only, .hide-for-medium-up, .show-for-medium, .show-for-medium-down, .hide-for-large-only, .hide-for-large-up, .hide-for-large, .hide-for-large-down, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xlarge, .hide-for-xlarge-down, .show-for-xxlarge-only, .show-for-xxlarge-up, .show-for-xxlarge, .hide-for-xxlarge-down {
    display: none !important; }

  .hidden-for-small-only, .visible-for-small-up, .hidden-for-small, .hidden-for-small-down, .hidden-for-medium-only, .visible-for-medium-up, .hidden-for-medium, .hidden-for-medium-down, .visible-for-large-only, .visible-for-large-up, .visible-for-large, .visible-for-large-down, .hidden-for-xlarge-only, .hidden-for-xlarge-up, .hidden-for-xlarge, .visible-for-xlarge-down, .hidden-for-xxlarge-only, .hidden-for-xxlarge-up, .hidden-for-xxlarge, .visible-for-xxlarge-down {
    position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto; }

  .visible-for-small-only, .hidden-for-small-up, .visible-for-small, .visible-for-small-down, .visible-for-medium-only, .hidden-for-medium-up, .visible-for-medium, .visible-for-medium-down, .hidden-for-large-only, .hidden-for-large-up, .hidden-for-large, .hidden-for-large-down, .visible-for-xlarge-only, .visible-for-xlarge-up, .visible-for-xlarge, .hidden-for-xlarge-down, .visible-for-xxlarge-only, .visible-for-xxlarge-up, .visible-for-xxlarge, .hidden-for-xxlarge-down {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px); }

  table.hide-for-small-only, table.show-for-small-up, table.hide-for-small, table.hide-for-small-down, table.hide-for-medium-only, table.show-for-medium-up, table.hide-for-medium, table.hide-for-medium-down, table.show-for-large-only, table.show-for-large-up, table.show-for-large, table.show-for-large-down, table.hide-for-xlarge-only, table.hide-for-xlarge-up, table.hide-for-xlarge, table.show-for-xlarge-down, table.hide-for-xxlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge, table.show-for-xxlarge-down {
    display: table; }

  thead.hide-for-small-only, thead.show-for-small-up, thead.hide-for-small, thead.hide-for-small-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.hide-for-medium, thead.hide-for-medium-down, thead.show-for-large-only, thead.show-for-large-up, thead.show-for-large, thead.show-for-large-down, thead.hide-for-xlarge-only, thead.hide-for-xlarge-up, thead.hide-for-xlarge, thead.show-for-xlarge-down, thead.hide-for-xxlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge, thead.show-for-xxlarge-down {
    display: table-header-group !important; }

  tbody.hide-for-small-only, tbody.show-for-small-up, tbody.hide-for-small, tbody.hide-for-small-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.show-for-large-only, tbody.show-for-large-up, tbody.show-for-large, tbody.show-for-large-down, tbody.hide-for-xlarge-only, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge, tbody.show-for-xlarge-down, tbody.hide-for-xxlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge, tbody.show-for-xxlarge-down {
    display: table-row-group !important; }

  tr.hide-for-small-only, tr.show-for-small-up, tr.hide-for-small, tr.hide-for-small-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.hide-for-medium, tr.hide-for-medium-down, tr.show-for-large-only, tr.show-for-large-up, tr.show-for-large, tr.show-for-large-down, tr.hide-for-xlarge-only, tr.hide-for-xlarge-up, tr.hide-for-xlarge, tr.show-for-xlarge-down, tr.hide-for-xxlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge, tr.show-for-xxlarge-down {
    display: table-row !important; }

  th.hide-for-small-only, td.hide-for-small-only, th.show-for-small-up, td.show-for-small-up, th.hide-for-small, td.hide-for-small, th.hide-for-small-down, td.hide-for-small-down, th.hide-for-medium-only, td.hide-for-medium-only, th.show-for-medium-up, td.show-for-medium-up, th.hide-for-medium, td.hide-for-medium, th.hide-for-medium-down, td.hide-for-medium-down, th.show-for-large-only, td.show-for-large-only, th.show-for-large-up, td.show-for-large-up, th.show-for-large, td.show-for-large, th.show-for-large-down, td.show-for-large-down, th.hide-for-xlarge-only, td.hide-for-xlarge-only, th.hide-for-xlarge-up, td.hide-for-xlarge-up, th.hide-for-xlarge, td.hide-for-xlarge, th.show-for-xlarge-down, td.show-for-xlarge-down, th.hide-for-xxlarge-only, td.hide-for-xxlarge-only, th.hide-for-xxlarge-up, td.hide-for-xxlarge-up, th.hide-for-xxlarge, td.hide-for-xxlarge, th.show-for-xxlarge-down, td.show-for-xxlarge-down {
    display: table-cell !important; } }
/* xlarge displays */
@media only screen and (min-width: 90.063em) {
  .hide-for-small-only, .show-for-small-up, .hide-for-small, .hide-for-small-down, .hide-for-medium-only, .show-for-medium-up, .hide-for-medium, .hide-for-medium-down, .hide-for-large-only, .show-for-large-up, .hide-for-large, .hide-for-large-down, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xlarge, .show-for-xlarge-down, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .hide-for-xxlarge, .show-for-xxlarge-down {
    display: inherit !important; }

  .show-for-small-only, .hide-for-small-up, .show-for-small, .show-for-small-down, .show-for-medium-only, .hide-for-medium-up, .show-for-medium, .show-for-medium-down, .show-for-large-only, .hide-for-large-up, .show-for-large, .show-for-large-down, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xlarge, .hide-for-xlarge-down, .show-for-xxlarge-only, .show-for-xxlarge-up, .show-for-xxlarge, .hide-for-xxlarge-down {
    display: none !important; }

  .hidden-for-small-only, .visible-for-small-up, .hidden-for-small, .hidden-for-small-down, .hidden-for-medium-only, .visible-for-medium-up, .hidden-for-medium, .hidden-for-medium-down, .hidden-for-large-only, .visible-for-large-up, .hidden-for-large, .hidden-for-large-down, .visible-for-xlarge-only, .visible-for-xlarge-up, .visible-for-xlarge, .visible-for-xlarge-down, .hidden-for-xxlarge-only, .hidden-for-xxlarge-up, .hidden-for-xxlarge, .visible-for-xxlarge-down {
    position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto; }

  .visible-for-small-only, .hidden-for-small-up, .visible-for-small, .visible-for-small-down, .visible-for-medium-only, .hidden-for-medium-up, .visible-for-medium, .visible-for-medium-down, .visible-for-large-only, .hidden-for-large-up, .visible-for-large, .visible-for-large-down, .hidden-for-xlarge-only, .hidden-for-xlarge-up, .hidden-for-xlarge, .hidden-for-xlarge-down, .visible-for-xxlarge-only, .visible-for-xxlarge-up, .visible-for-xxlarge, .hidden-for-xxlarge-down {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px); }

  table.hide-for-small-only, table.show-for-small-up, table.hide-for-small, table.hide-for-small-down, table.hide-for-medium-only, table.show-for-medium-up, table.hide-for-medium, table.hide-for-medium-down, table.hide-for-large-only, table.show-for-large-up, table.hide-for-large, table.hide-for-large-down, table.show-for-xlarge-only, table.show-for-xlarge-up, table.show-for-xlarge, table.show-for-xlarge-down, table.hide-for-xxlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge, table.show-for-xxlarge-down {
    display: table; }

  thead.hide-for-small-only, thead.show-for-small-up, thead.hide-for-small, thead.hide-for-small-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.hide-for-medium, thead.hide-for-medium-down, thead.hide-for-large-only, thead.show-for-large-up, thead.hide-for-large, thead.hide-for-large-down, thead.show-for-xlarge-only, thead.show-for-xlarge-up, thead.show-for-xlarge, thead.show-for-xlarge-down, thead.hide-for-xxlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge, thead.show-for-xxlarge-down {
    display: table-header-group !important; }

  tbody.hide-for-small-only, tbody.show-for-small-up, tbody.hide-for-small, tbody.hide-for-small-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.hide-for-large-only, tbody.show-for-large-up, tbody.hide-for-large, tbody.hide-for-large-down, tbody.show-for-xlarge-only, tbody.show-for-xlarge-up, tbody.show-for-xlarge, tbody.show-for-xlarge-down, tbody.hide-for-xxlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge, tbody.show-for-xxlarge-down {
    display: table-row-group !important; }

  tr.hide-for-small-only, tr.show-for-small-up, tr.hide-for-small, tr.hide-for-small-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.hide-for-medium, tr.hide-for-medium-down, tr.hide-for-large-only, tr.show-for-large-up, tr.hide-for-large, tr.hide-for-large-down, tr.show-for-xlarge-only, tr.show-for-xlarge-up, tr.show-for-xlarge, tr.show-for-xlarge-down, tr.hide-for-xxlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge, tr.show-for-xxlarge-down {
    display: table-row !important; }

  th.hide-for-small-only, td.hide-for-small-only, th.show-for-small-up, td.show-for-small-up, th.hide-for-small, td.hide-for-small, th.hide-for-small-down, td.hide-for-small-down, th.hide-for-medium-only, td.hide-for-medium-only, th.show-for-medium-up, td.show-for-medium-up, th.hide-for-medium, td.hide-for-medium, th.hide-for-medium-down, td.hide-for-medium-down, th.hide-for-large-only, td.hide-for-large-only, th.show-for-large-up, td.show-for-large-up, th.hide-for-large, td.hide-for-large, th.hide-for-large-down, td.hide-for-large-down, th.show-for-xlarge-only, td.show-for-xlarge-only, th.show-for-xlarge-up, td.show-for-xlarge-up, th.show-for-xlarge, td.show-for-xlarge, th.show-for-xlarge-down, td.show-for-xlarge-down, th.hide-for-xxlarge-only, td.hide-for-xxlarge-only, th.hide-for-xxlarge-up, td.hide-for-xxlarge-up, th.hide-for-xxlarge, td.hide-for-xxlarge, th.show-for-xxlarge-down, td.show-for-xxlarge-down {
    display: table-cell !important; } }
/* xxlarge displays */
@media only screen and (min-width: 120.063em) {
  .hide-for-small-only, .show-for-small-up, .hide-for-small, .hide-for-small-down, .hide-for-medium-only, .show-for-medium-up, .hide-for-medium, .hide-for-medium-down, .hide-for-large-only, .show-for-large-up, .hide-for-large, .hide-for-large-down, .hide-for-xlarge-only, .show-for-xlarge-up, .hide-for-xlarge, .hide-for-xlarge-down, .show-for-xxlarge-only, .show-for-xxlarge-up, .show-for-xxlarge, .show-for-xxlarge-down {
    display: inherit !important; }

  .show-for-small-only, .hide-for-small-up, .show-for-small, .show-for-small-down, .show-for-medium-only, .hide-for-medium-up, .show-for-medium, .show-for-medium-down, .show-for-large-only, .hide-for-large-up, .show-for-large, .show-for-large-down, .show-for-xlarge-only, .hide-for-xlarge-up, .show-for-xlarge, .show-for-xlarge-down, .hide-for-xxlarge-only, .hide-for-xxlarge-up, .hide-for-xxlarge, .hide-for-xxlarge-down {
    display: none !important; }

  .hidden-for-small-only, .visible-for-small-up, .hidden-for-small, .hidden-for-small-down, .hidden-for-medium-only, .visible-for-medium-up, .hidden-for-medium, .hidden-for-medium-down, .hidden-for-large-only, .visible-for-large-up, .hidden-for-large, .hidden-for-large-down, .hidden-for-xlarge-only, .visible-for-xlarge-up, .hidden-for-xlarge, .hidden-for-xlarge-down, .visible-for-xxlarge-only, .visible-for-xxlarge-up, .visible-for-xxlarge, .visible-for-xxlarge-down {
    position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto; }

  .visible-for-small-only, .hidden-for-small-up, .visible-for-small, .visible-for-small-down, .visible-for-medium-only, .hidden-for-medium-up, .visible-for-medium, .visible-for-medium-down, .visible-for-large-only, .hidden-for-large-up, .visible-for-large, .visible-for-large-down, .visible-for-xlarge-only, .hidden-for-xlarge-up, .visible-for-xlarge, .visible-for-xlarge-down, .hidden-for-xxlarge-only, .hidden-for-xxlarge-up, .hidden-for-xxlarge, .hidden-for-xxlarge-down {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px); }

  table.hide-for-small-only, table.show-for-small-up, table.hide-for-small, table.hide-for-small-down, table.hide-for-medium-only, table.show-for-medium-up, table.hide-for-medium, table.hide-for-medium-down, table.hide-for-large-only, table.show-for-large-up, table.hide-for-large, table.hide-for-large-down, table.hide-for-xlarge-only, table.show-for-xlarge-up, table.hide-for-xlarge, table.hide-for-xlarge-down, table.show-for-xxlarge-only, table.show-for-xxlarge-up, table.show-for-xxlarge, table.show-for-xxlarge-down {
    display: table; }

  thead.hide-for-small-only, thead.show-for-small-up, thead.hide-for-small, thead.hide-for-small-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.hide-for-medium, thead.hide-for-medium-down, thead.hide-for-large-only, thead.show-for-large-up, thead.hide-for-large, thead.hide-for-large-down, thead.hide-for-xlarge-only, thead.show-for-xlarge-up, thead.hide-for-xlarge, thead.hide-for-xlarge-down, thead.show-for-xxlarge-only, thead.show-for-xxlarge-up, thead.show-for-xxlarge, thead.show-for-xxlarge-down {
    display: table-header-group !important; }

  tbody.hide-for-small-only, tbody.show-for-small-up, tbody.hide-for-small, tbody.hide-for-small-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.hide-for-large-only, tbody.show-for-large-up, tbody.hide-for-large, tbody.hide-for-large-down, tbody.hide-for-xlarge-only, tbody.show-for-xlarge-up, tbody.hide-for-xlarge, tbody.hide-for-xlarge-down, tbody.show-for-xxlarge-only, tbody.show-for-xxlarge-up, tbody.show-for-xxlarge, tbody.show-for-xxlarge-down {
    display: table-row-group !important; }

  tr.hide-for-small-only, tr.show-for-small-up, tr.hide-for-small, tr.hide-for-small-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.hide-for-medium, tr.hide-for-medium-down, tr.hide-for-large-only, tr.show-for-large-up, tr.hide-for-large, tr.hide-for-large-down, tr.hide-for-xlarge-only, tr.show-for-xlarge-up, tr.hide-for-xlarge, tr.hide-for-xlarge-down, tr.show-for-xxlarge-only, tr.show-for-xxlarge-up, tr.show-for-xxlarge, tr.show-for-xxlarge-down {
    display: table-row !important; }

  th.hide-for-small-only, td.hide-for-small-only, th.show-for-small-up, td.show-for-small-up, th.hide-for-small, td.hide-for-small, th.hide-for-small-down, td.hide-for-small-down, th.hide-for-medium-only, td.hide-for-medium-only, th.show-for-medium-up, td.show-for-medium-up, th.hide-for-medium, td.hide-for-medium, th.hide-for-medium-down, td.hide-for-medium-down, th.hide-for-large-only, td.hide-for-large-only, th.show-for-large-up, td.show-for-large-up, th.hide-for-large, td.hide-for-large, th.hide-for-large-down, td.hide-for-large-down, th.hide-for-xlarge-only, td.hide-for-xlarge-only, th.show-for-xlarge-up, td.show-for-xlarge-up, th.hide-for-xlarge, td.hide-for-xlarge, th.hide-for-xlarge-down, td.hide-for-xlarge-down, th.show-for-xxlarge-only, td.show-for-xxlarge-only, th.show-for-xxlarge-up, td.show-for-xxlarge-up, th.show-for-xxlarge, td.show-for-xxlarge, th.show-for-xxlarge-down, td.show-for-xxlarge-down {
    display: table-cell !important; } }
/* Orientation targeting */
.show-for-landscape,
.hide-for-portrait {
  display: inherit !important; }

.hide-for-landscape,
.show-for-portrait {
  display: none !important; }

/* Specific visibility for tables */
table.hide-for-landscape, table.show-for-portrait {
  display: table; }

thead.hide-for-landscape, thead.show-for-portrait {
  display: table-header-group !important; }

tbody.hide-for-landscape, tbody.show-for-portrait {
  display: table-row-group !important; }

tr.hide-for-landscape, tr.show-for-portrait {
  display: table-row !important; }

td.hide-for-landscape, td.show-for-portrait,
th.hide-for-landscape,
th.show-for-portrait {
  display: table-cell !important; }

@media only screen and (orientation: landscape) {
  .show-for-landscape,
  .hide-for-portrait {
    display: inherit !important; }

  .hide-for-landscape,
  .show-for-portrait {
    display: none !important; }

  /* Specific visibility for tables */
  table.show-for-landscape, table.hide-for-portrait {
    display: table; }

  thead.show-for-landscape, thead.hide-for-portrait {
    display: table-header-group !important; }

  tbody.show-for-landscape, tbody.hide-for-portrait {
    display: table-row-group !important; }

  tr.show-for-landscape, tr.hide-for-portrait {
    display: table-row !important; }

  td.show-for-landscape, td.hide-for-portrait,
  th.show-for-landscape,
  th.hide-for-portrait {
    display: table-cell !important; } }
@media only screen and (orientation: portrait) {
  .show-for-portrait,
  .hide-for-landscape {
    display: inherit !important; }

  .hide-for-portrait,
  .show-for-landscape {
    display: none !important; }

  /* Specific visibility for tables */
  table.show-for-portrait, table.hide-for-landscape {
    display: table; }

  thead.show-for-portrait, thead.hide-for-landscape {
    display: table-header-group !important; }

  tbody.show-for-portrait, tbody.hide-for-landscape {
    display: table-row-group !important; }

  tr.show-for-portrait, tr.hide-for-landscape {
    display: table-row !important; }

  td.show-for-portrait, td.hide-for-landscape,
  th.show-for-portrait,
  th.hide-for-landscape {
    display: table-cell !important; } }
/* Touch-enabled device targeting */
.show-for-touch {
  display: none !important; }

.hide-for-touch {
  display: inherit !important; }

.touch .show-for-touch {
  display: inherit !important; }

.touch .hide-for-touch {
  display: none !important; }

/* Specific visibility for tables */
table.hide-for-touch {
  display: table; }

.touch table.show-for-touch {
  display: table; }

thead.hide-for-touch {
  display: table-header-group !important; }

.touch thead.show-for-touch {
  display: table-header-group !important; }

tbody.hide-for-touch {
  display: table-row-group !important; }

.touch tbody.show-for-touch {
  display: table-row-group !important; }

tr.hide-for-touch {
  display: table-row !important; }

.touch tr.show-for-touch {
  display: table-row !important; }

td.hide-for-touch {
  display: table-cell !important; }

.touch td.show-for-touch {
  display: table-cell !important; }

th.hide-for-touch {
  display: table-cell !important; }

.touch th.show-for-touch {
  display: table-cell !important; }

/* Print visibility */
@media print {
  .show-for-print {
    display: block; }

  .hide-for-print {
    display: none; }

  table.show-for-print {
    display: table; }

  thead.show-for-print {
    display: table-header-group !important; }

  tbody.show-for-print {
    display: table-row-group !important; }

  tr.show-for-print {
    display: table-row !important; }

  td.show-for-print {
    display: table-cell !important; }

  th.show-for-print {
    display: table-cell !important; } }
/*CSS Reset*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #eaeaea; }

/*CSS Reset*/
.content {
  width: 1349px;
  height: 100%;
  clear: both; }

.top-bar {
  background: #fff;
  height: 70px;
  margin: 0;
  overflow: visible;
  border-bottom: 1px solid #ccc;
  z-index: 1; }
  .top-bar .grid {
    background: #fff;
    height: 70px; }

.grid {
  margin: 0 auto;
  max-width: 980px;
  width: auto;
  height: auto;
  background: #eaeaea; }

.left-img-wrap {
  width: auto;
  height: 68px;
  padding-top: 15px; }
  .left-img-wrap .menu-logo {
    width: 36px;
    height: 22px;
    float: left;
    cursor: pointer;
    margin-top: 9px; }
  .left-img-wrap .rbc-logo {
    float: left;
    margin-left: 10px;
    margin-top: 0; }
  .left-img-wrap .rbc-smll-logo {
    width: 35px;
    height: 35px;
    margin-left: 8px;
    float: left; }
  .left-img-wrap .raft-logo {
    margin-left: 14px;
    float: left;
    width: 155px;
    margin-top: 5px; }

.right-user-wrap {
  float: right;
  text-align: right;
  position: relative;
  top: 0;
  font-size: 15px;
  width: 175px;
  height: 20px;
  margin: 0; }
  .right-user-wrap .usr-img {
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 3px;
    margin-left: 15px; }
  .right-user-wrap span {
    float: right;
    text-align: right;
    position: relative;
    top: 0px;
    font-size: 15px;
    height: 20px;
    width: auto;
    margin: 0; }
    .right-user-wrap span p {
      font-size: 14px;
      position: relative;
      bottom: 12px; }

.usr-dtls {
  width: 200px;
  height: 70px; }
  .usr-dtls .usr-noti {
    float: left; }
  .usr-dtls .image {
    float: right;
    height: 70px;
    width: 65px;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    padding-top: 5px;
    padding-left: 23px;
    position: relative; }
  .usr-dtls .ph-img {
    position: relative;
    bottom: 11px;
    right: 6px; }

.phone {
  float: right;
  height: 70px;
  width: 65px;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  padding-left: 23px;
  position: relative;
  padding-top: 20px; }

.notif {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background: #f2685b;
  color: white;
  position: relative;
  top: 0px;
  z-index: 1;
  float: right;
  margin-right: 13px;
  text-align: center;
  vertical-align: middle;
  padding: 0px; }
  .notif p {
    font-size: 10px;
    position: relative; }

.user-menu-cont {
  padding: 0;
  /* z-index: 100; */
  position: relative;
  right: 55px;
  margin-top: 70px;
  display: block;
  width: 230px; }

ul.usr-menu {
  background: white;
  margin: 0;
  z-index: 1;
  display: block;
  width: 230px;
  float: left; }

.pref {
  width: 100%;
  height: 55px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  text-align: left; }
  .pref a {
    margin-left: 10px;
    color: #000000; }

.search-container {
  width: 82%;
  height: 70px;
  float: right;
  padding: 11px;
  border-left: 1px solid #eaeaea; }
  .search-container .pl {
    float: right;
    outline: none;
    box-shadow: none;
    border: transparent;
    position: relative;
    right: 0;
    width: 117px;
    font-size: 13px; }

.tp-mnu-cont {
  border-top: 5px solid #f2685b;
  border-bottom: 1px solid #164676;
  max-width: 980px;
  margin: 0;
  padding: 0; }

.arrow-up {
  left: 26px;
  width: 15px;
  height: 15px;
  border-left: 8px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 8px solid #f2685b;
  position: absolute;
  top: -15px; }

.mnu-options {
  display: none;
  margin-top: 5px;
  position: relative;
  margin-left: 0;
  display: inline-block;
  /* top: 0; */
  width: auto;
  height: auto;
  background: #fff;
  vertical-align: top;
  color: #f2685b;
  font-size: 15px; }
  .mnu-options .menu-container {
    border-top: 5px solid #f2685b;
    border-bottom: 1px solid #164676;
    margin-left: 0;
    padding-left: 20px;
    max-width: 980px;
    height: 350px; }

.margin-0 {
  margin: 0; }

.sub-lst {
  width: 155px;
  height: auto;
  color: black;
  font: 12px;
  position: relative;
  margin-left: 0;
  line-height: 4px;
  /* margin-top: 10px; */
  font-size: 11px;
  font: 12px;
  position: relative;
  margin-left: 0;
  margin-top: 20px;
  font-size: 12px; }
  .sub-lst li {
    padding-top: 10px;
    line-height: 20px; }

.balances {
  width: 20%;
  height: 245px;
  background: #fff;
  padding: 20px;
  float: left; }

.container {
  overflow: hidden;
  margin-top: 10px;
  max-width: 100%;
  background: #fff; }

.balances-container {
  height: 245px;
  width: 500%;
  -webkit-transition-property: margin-left;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: margin-left;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out; }

.long-container {
  height: 245px;
  width: 500%; }

.sav {
  font-size: 15px;
  float: left; }

.all {
  font-size: 15px;
  float: right; }
  .all .Rs {
    font-weight: bold;
    font-size: 17px;
    color: #164676; }
  .all .ps {
    font-size: 17px; }

.Rs {
  font-weight: bold;
  font-size: 30px;
  color: #164676; }

.ps {
  font-size: 30px;
  color: #164676; }

.font-12 {
  font-size: 12px;
  color: #164676; }

#tab3 .my-savings {
  width: 200px;
  height: 35px;
  font-size: 12px;
  margin-top: 21px;
  display: block;
  background-image: url("/images/images1/dropdown_active_form_2x.png");
  background-repeat: no-repeat;
  background-position-x: 93%;
  background-size: 15px;
  float: right; }
#tab3 .button {
  width: 110px;
  float: right;
  margin-right: 20px;
  position: relative;
  top: 100px;
  left: 123px; }

.my-savings {
  width: 200px;
  height: 35px;
  font-size: 12px;
  margin-top: 70px;
  display: block;
  background-image: url("/images/images1/dropdown_active_form_2x.png");
  background-repeat: no-repeat;
  background-position-x: 93%;
  background-size: 15px; }
  .my-savings input {
    position: relative;
    bottom: 8px;
    box-shadow: none; }

.avail-bal {
  display: block;
  font-size: 15px;
  margin-top: 30px; }

.tbl {
  width: 100%;
  height: 100px;
  background: transparent;
  font-size: 11px;
  float: right;
  border: none; }
  .tbl td {
    padding: 0;
    line-height: 1px;
    font-size: 11px;
    margin: 0;
    width: auto;
    line-height: 2px; }
  .tbl tr {
    padding: 0; }

.rec {
  float: right;
  width: auto;
  font-size: 13px;
  margin-top: -90px; }
  .rec span {
    padding-left: 18px;
    background-image: url("/images/rec-tr.png");
    background-repeat: no-repeat;
    background-position: 0px; }
    .rec span span {
      padding-left: 0; }

.rec-tr {
  font-size: 15px; }

.bullet1-container {
  width: 80px;
  height: 14px;
  margin-left: 40%; }

.bullet1 {
  width: 10px;
  height: 10px;
  float: left;
  margin-left: 5px;
  background: #164676;
  border-radius: 5px; }

.active-bullet1 {
  background: #ccc;
  width: 10px;
  height: 10px;
  float: left;
  margin-left: 5px;
  border-radius: 5px; }

.tabs-container {
  max-width: 470px;
  height: 45px;
  background: #fff;
  padding: 0;
  margin: 0; }

.tab {
  width: 20%;
  height: 100%;
  padding: 10px;
  float: left;
  text-align: center;
  font-size: 13px;
  border-left: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea; }

.active {
  width: 20%;
  height: 100%;
  padding: 10px;
  float: left;
  font-size: 13px;
  border-bottom: 5px solid #f2685b;
  border-top: transparent; }

.animate-enter {
  -webkit-transition: 1s linear all;
  /* Chrome */
  transition: 1s linear all;
  opacity: 0; }

.animate-enter.animate-enter-active {
  opacity: 1; }

.btn-rech {
  width: 100%;
  height: auto;
  margin-top: 70px;
  vertical-align: middle;
  background: #f2685b; }

.upcoming {
  background: #fff;
  width: 100%;
  height: 290px;
  padding: 20px;
  margin-top: 10px;
  float: left;
  background-image: url("/images/calendar.png");
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 18px; }
  .upcoming .up {
    float: left;
    font-size: 19px; }
  .upcoming .up-img {
    float: right; }

.upcoming-drop {
  height: 72px;
  width: 100%;
  background: #fff;
  margin-top: 10px;
  padding: 25px;
  background-image: url("/images/images1/dropdown_active_form_2x.png");
  background-repeat: no-repeat;
  background-position-x: 88%;
  background-position-y: 51%;
  background-size: 18px; }
  .upcoming-drop span {
    font-size: 14px; }

.quick-pay {
  height: auto;
  display: block; }
  .quick-pay select.mysavings > b {
    margin-top: 22px;
    background-image: url("/images/images1/dropdown_active_form_2x.png");
    background-repeat: no-repeat; }
  .quick-pay .amt > span {
    position: relative;
    top: 8px;
    left: 10px; }
  .quick-pay .my-savings {
    width: 100%;
    margin-top: 10px; }
  .quick-pay .amt {
    height: 35px;
    border: 1px solid #ccc; }
  .quick-pay input {
    width: 90%;
    float: right;
    border: transparent;
    box-shadow: none;
    height: 33px;
    padding: 8px; }

.e-bill {
  margin-top: 40px;
  font-size: 13px;
  display: block; }

.due {
  font-size: 14px;
  margin-top: 75px;
  float: left; }
  .due span.Rs {
    display: block;
    margin-top: 5px; }

.quick-pay-div {
  background: white;
  width: 100%;
  height: 270px;
  padding: 19px;
  margin-top: 10px;
  font-size: 18px; }
  .quick-pay-div input {
    margin: 0;
    box-shadow: none; }

.btn-rech {
  width: 100%;
  height: auto;
  margin-top: 70px;
  vertical-align: middle;
  background: #f2685b; }

.btn-qp {
  margin-top: 20px; }

.btn-up {
  margin-top: 148px; }

.button {
  width: 100%;
  height: 42px;
  background: #f2685b;
  border-bottom: 3px solid #d04e40;
  vertical-align: middle;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  padding: 12px; }
  .button:hover {
    background: #f2685b; }
  .button:active {
    border-bottom: transparent;
    position: relative;
    top: 1px; }

.btn-click {
  border-bottom: none; }

.selected {
  background: #f2685b;
  color: #fff; }

.know-more {
  margin-top: 10px;
  width: 100%;
  height: 270px;
  display: none; }

.emergency {
  height: 40px;
  width: 228px;
  margin-left: 2px;
  background: white;
  margin-top: 10px; }
  .emergency .emrg-img {
    position: relative;
    top: -47px;
    left: 10px;
    z-index: -1; }
  .emergency .e-drop {
    width: 100%;
    height: 41px;
    background: transparent;
    float: left;
    text-align: center;
    z-index: -1; }
  .emergency .e-drop:hover {
    background: #fff;
    color: #164676; }
    .emergency .e-drop:hover .emrg-txt {
      color: #fff; }

.emrg-txt {
  position: relative;
  top: -50px;
  left: 20px;
  font-size: 11px; }

.arrow-dwn {
  position: relative;
  bottom: 125%;
  width: 14px;
  left: 60%; }

.emrg-links {
  width: 229px;
  height: auto;
  float: left;
  margin-left: 2px; }
  .emrg-links img {
    float: left; }

.FT {
  padding: 9%;
  background: #164676;
  width: 50%;
  border: 2px solid #eaeaea;
  height: 85px;
  float: left;
  text-align: left;
  font-size: 11px;
  vertical-align: bottom; }

.FT-txt {
  font-size: 11px;
  text-decoration: none;
  color: #fff; }

.add-edit {
  font-size: 12px;
  color: #164676;
  margin-left: 3px;
  display: inline; }
  .add-edit:hover {
    cursor: pointer; }

.add-edit-container {
  width: 226px;
  height: auto;
  background: white;
  margin-left: 3px;
  margin-top: 19px;
  z-index: 0;
  position: absolute;
  border: 1px solid #ccc; }
  .add-edit-container .button {
    width: 95px;
    height: 42px;
    padding: 20px; }

.choose {
  width: 100%;
  height: 52px;
  font-size: 13px;
  font-weight: bold;
  padding: 20px;
  border-bottom: 1px solid #eaeaea; }

.option {
  font-size: 12px;
  margin: 0;
  vertical-align: middle; }
  .option li {
    width: 100%;
    height: auto;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
    vertical-align: middle; }
  .option .save {
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    vertical-align: middle; }
    .option .save .button {
      padding: 13px; }

.check {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #28b04c;
  text-align: center;
  color: #fff;
  float: right; }

.footer {
  height: 53px;
  width: 100%;
  background: #fff;
  float: left;
  margin-top: 10px;
  clear: both;
  padding-top: 7px;
  color: #eaeaea;
  padding: 20px; }

.cpy-ryt {
  float: left;
  margin-left: 10px;
  font-size: 11px;
  color: #ccc; }

.mr-made {
  float: right;
  margin-right: 10px;
  font-size: 11px;
  color: #ccc; }

@media only screen and (min-width: 640px) {
  .upcoming {
    display: block;
    float: left; }

  .quick-pay-div {
    display: block;
    float: left; }

  .padding-left-0 {
    padding-left: 0;
    padding-right: 10px; }

  .image {
    float: left; }

  .sub-lst {
    display: block; } }
@media only screen and (max-width: 640px) {
  .rbc-smll-logo {
    float: left; }

  .top-bar {
    padding-left: 0; }

  .menu-logo-mob {
    width: 18px;
    height: 22px;
    float: left;
    cursor: pointer;
    margin-top: 9px;
    padding-left: 0; }

  .balances {
    width: 20%;
    overflow: hidden; }

  .container {
    overflow: hidden;
    width: 100%;
    background: #fff;
    width: 100%; }
    .container .tabs-container {
      width: inherit; }
    .container #bc {
      width: auto;
      height: auto;
      background: white;
      position: relative;
      top: 0;
      float: left; }

  .upcoming {
    display: none;
    float: left; }

  .usr-menu-cont {
    width: 100%; }

  .usr-dtls .image {
    float: right;
    margin-left: 85px;
    position: absolute;
    border: none; }

  .mnu-options {
    margin-top: 0;
    margin: 0;
    display: none;
    /* top: 0; */
    width: 100%;
    height: auto;
    vertical-align: top;
    color: #f2685b;
    font-size: 15px; }
    .mnu-options li {
      background: #ccc;
      border: 1px solid #eaeaea;
      padding: 5px; }

  .sub-lst {
    display: none;
    margin-top: 0; }

  top-bar ul {
    margin-bottom: 0;
    list-style: none;
    margin: 0;
    padding: 0; }

  .quick-pay-div {
    display: none; } }

/*# sourceMappingURL=app.css.map */
