html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, select, input {
  letter-spacing: 0;
  word-spacing: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /*  font-family:'Roboto', Arial, Helvetica, sans-serif; */
  font-weight: 400; }
@font-face {
    font-family: HelveticaNeueLT Std Med;
    src: url(../../src/fonts/HelveticaNeueLTCom-Md.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std Lt;
    src: url(../../src/fonts/HelveticaNeueLTCom-Lt.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std UltLt;
    src: url(../../src/fonts/HelveticaNeueLTStd-UltLt_0.otf);
}

@font-face {
    font-family: HelveticaNeueLT Std Bold;
    src: url(../../src/fonts/HelveticaNeueLTCom-Bd.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std Roman;
    src: url(../../src/fonts/HelveticaNeueLTCom-Roman.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std Thin;
    src: url(../../src/fonts/HelveticaNeueLTStd-Th_0.otf);
}
.row {
  max-width: 90rem; }

/*CSS Reset*/
body {
  margin: 0;
  padding: 0;
  font-family: HelveticaNeueLT Std Med;
  /*font-family: HelveticaNeueLT Std Lt;*/
  /*font-family: HelveticaNeueLT Std UltLt;*/
  /*font-family: HelveticaNeueLT Std Bold;*/
  /*font-family: HelveticaNeueLT Std Thin;*/
  /*font-family: HelveticaNeueLT Std Roman;*/
  background: #e9e9e9; }

.grid-container {
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box; }

/*CSS Reset*/
.float-l {
  float: left; }

.float-r {
  float: right; }

.clearfix {
  clear: both; }

.display-ib {
  display: inline-block; }

.h-100 {
  height: 100%; }

.header-wrapper {
  height: 120px;
  width: 100%;
  /*border-bottom: 1px solid #b9b9b9; */ }

.top-bar {
  background: #03448c;
  color: #fff;
  height: 60px;
  margin: 0;
  overflow: visible;
  z-index: 1; }

.main-menu-bar {
  height: 60px;
  color: white;
  background: #333;
  /*border-bottom: 1px solid #333333; */ }

.top-bar-left {
  height: 100%; }

.menu-small {
  padding-top: 17px;
  margin-right: 10px;
  margin-left: 10px; }

.logo {
  /*margin-left: 30px;*/
  margin-left: 5px;
  padding-top: 15px;
  cursor: pointer;
  display: inline-block; }

.bank-name {
  display: inline-block;
  margin-left: 8px; }

.top-bar-right {
  height: 100%; }

.logout {
  height: 100%;
  padding-top: 15px;
  cursor: pointer;
  text-align: center;
  border-left: 1px solid #3a6ea8;
  background: #04468d; }

.logout-pic {
  margin-right: 20px;
  margin-left: 20px; }

.account {
  height: 100%;
  background: #033e7f; }

.acc-pic {
  height: 50px;
  width: 50px; }

.acc-name {
  vertical-align: middle;
  margin-top: -57px;
  font-size: 12px;
font-family: HelveticaNeueLT Std Roman;
  line-height: 12px;
  padding-top: 25px;
  /*width: 108px;*/
  width: 90px;
  /*padding-left: 10px;*/
  padding-left: 5px;
  height: 100%;
  display: inline-block; }

.personal-banking {
  color: #979798;
  font-size: 9px; 

font-family: HelveticaNeueLT Std Med;}

.arrow {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-top: -52px;
  padding-top: 12px;
  margin-right: 10px; }

.message {
  height: 100%;
  cursor: pointer;
  margin-right: 30px; }

.msg-logo {
  padding-top: 12px; }

.dash {
  height: 100%; }

.dashboard {
  margin-top: 8px;
  height: 46px;
  /*margin-left: 30px;*/
  margin-left: 5px;
  border-right: 2px solid #484848; }

.dashboard-active {
  margin-top: 8px;
  height: 46px;
  /*margin-left: 30px;*/
  margin-left: 5px;
  border: 0px;}

.menu-logo {
  display: inline-block;
  cursor: pointer;
  margin-top: 7px;
  background: url('../../src/images/main-menu.png');
  height: 26px;
  width: 26px;
 }
.menu-logo-active{
   display: inline-block;
  cursor: pointer;
  margin-top: 11px;
  background: url('../../src/images/close_subheader_1x.png') no-repeat;
  height: 26px;
  width: 26px;
}
.menu-rb{
  float: left;
  height: 60px;
}
.menu-rb-active{
  float: left;
  height: 60px;
  border-right: 2px solid #484848;
}
.opac{
  -webkit-filter: blur(2px);
}
.menu-txt {
  font-size: 10px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 20px;
  vertical-align: top;
  margin-top: 10px;
  font-size: 10px;
font-family: HelveticaNeueLT Std Roman; }

.dash-txt {
  height: 100%;
  padding-top: 20px;
  padding-left: 15px;
  color: #fff;
  font-size: 18px;
  font-weight: 700; 
font-family: HelveticaNeueLT Std Bold;}

.dash-options {
  height: 100%;
  font-size: 10px;
font-family: HelveticaNeueLT Std Roman; }

.option-block {
  border-left: 1px solid #484848;
  cursor: pointer;
  height: 100%;
  padding-top: 20px;
  float: right; }

.option-logo {
  display: inline-block;
  margin-left: 15px;
  vertical-align: top;
  margin-top: 2px; }

.option-txt {
  font-size: 10px;
/*font-family: HelveticaNeueLT Std Lt;*/
  display: inline-block;
  margin-right: 15px; }


  .menu-overlay{
  width: 100%;
  background: #333333;
  border-top: 1px solid #484848;
  /*position: absolute;*/
  z-index: 1;
}
.menu-list{
  width: 100%;
}
.menu-option{
  width: 16.25%;
  /*height: 100px;*/
  padding-top: 30px;
  padding-bottom: 35px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.main-menu-txt{
 font-size: 12px;
 color: white;
}
.display-none{
  display: none;
}
.quicktransfer-overlay{
  width: 100%;
  /*height: 100px;*/
  background: #d8d8d8;
 opacity: 0.8;
 
  /*position: absolute;*/
  z-index: 1;

}

.paybill-overlay{
  width: 100%;
  /*height: 100px;*/
  background: #d8d8d8;
 opacity: 0.8;
 
  /*position: absolute;*/
  z-index: 1;
}

.transfer-options{
  width: 100%;
  padding-top:25px;
}
.transfer-opt{
  width: 250px;
  height: 40px;
   margin-left: 95px;
  /*margin-top: 25px;*/
  background: #eeeeee;
  border-radius: 3px;  
  margin-bottom: 30px;
}
.transfer-pay{
  font-size: 10px;
  font-family: HelveticaNeueLT Std Med;
  display: inline-block;
   padding-top: 15px;
  width: 50%;
  height: 100%;
  text-align: center;
  color: #2570e0;
  cursor: pointer;
  opacity: 1;
}
.selected-transfer-pay{
   background: #666666;
   color: #fff;
   position: relative;
   /*width: 125px;*/
}
.selected-transfer-pay:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(102, 102, 102, 0);
  border-top-color: #666666;
  border-width: 8px;
  margin-left: -7px;
}
.transfer-form-element{
  width: 265px;
  height: 36px;
  border: 1px solid #aeaeae;
  border-radius: 4px;
   opacity: 1;
   margin-bottom: 20px;
   margin-right: 20px;
   font-size: 10px;
  font-family: HelveticaNeueLT Std Med;
  display: inline-block;
}
.transfer-form-element:nth-child(odd){
  margin-left: 95px;
}
.transfer-form-ele-type{
  width: 65px;
  height: 100%;
  background: #ededed;
  border-right: 1px solid #e4e1e1;
  padding-left: 12px;
  color: #333;
  padding-top: 12px;
   border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.transfer-form-ele{
  display: inline-block;
  width: 198px;
}
.select-box-spac-quick{
  width: 100%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-image: url('../../src/images/down-arrow.png');
  background-position: right 10px center;
  background-color: white !important;
  height: 34px;
  position:relative;
  outline: none;
}
.text-box-quick{
  width: 100%;
  border:0px !important;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  background-color: white !important;
  height: 34px !important;
  margin: 0px !important;
  position:relative;
  outline: none;
  box-shadow: none !important;
}

/******        FOR PAY BILLS POPUP    ***************/


.quicktransfer-overlay{
  width: 100%;
  /*height: 100px;*/
  background: #d8d8d8;
 /*opacity: 0.8;*/
  position: absolute;
  z-index: 1;

}
/*.transfer-options{
  width: 100%;
}
.transfer-opt{
  width: 250px;
  height: 40px;
   margin-left: 95px;
  margin-top: 25px;
  background: #eeeeee;
  border-radius: 3px;  
  margin-bottom: 30px;
}
*/.transfer-pay{
  font-size: 12px;
  font-family: HelveticaNeueLT Std Med;
  display: inline-block;
   padding-top: 15px;
  width: 50%;
  height: 100%;
  text-align: center;
  color: #2570e0;
  cursor: pointer;
  opacity: 1;
}
.selected-transfer-pay{
   background: #666666;
   color: #fff;
   position: relative;
   /*width: 125px;*/
}
.selected-transfer-pay:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(102, 102, 102, 0);
  border-top-color: #666666;
  border-width: 8px;
  margin-left: -7px;
}
.upcoming-payment-block{
  width: 100%;
  padding-left: 95px;
 
}
.upcoming-date{
  /*width: 175px;*/
  display: inline-block;
  float: left;
  width: 20.5%;
}
.pd-select-date {
font-size: 33px;
font-family: HelveticaNeueLT Std UltLt;
letter-spacing: 1px;
}
.pd-select-month {
font-family: HelveticaNeueLT Std Med;
font-size: 12px;
margin-top: -5px;
padding-left: 8px;
letter-spacing: 5px;
color: #666666;
/*text-align: center;*/
}
.upcoming-month{
  display: inline-block;
}
.upcoming-left-arrow{
  display: inline-block;
  float: left;
  padding-top: 11px;
  margin-right: 15px;
}
.upcoming-right-arrow{
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
  margin-left: 10px;
}
.upcoming-payment-fullblock{
  width: 79%;
 
  display: inline-block;
  padding-top: 8px;
}
.upcoming-pay-container{
  /*padding: 22px 10px 15px 54px;*/
  width: 275px;
font-size: 12px;
line-height: 1.3;
font-family: HelveticaNeueLT Std Med;
padding-bottom: 15px;
border-bottom: 1px dashed #a6a6a6;
display: inline-block;
margin-right: 60px;
margin-bottom: 15px;
}
.upcoming-pay-amt{
  font-family: HelveticaNeueLT Std Bold;
  color: #333;
  font-size: 14px;
}
.upcoming-pay-date{
  font-family: HelveticaNeueLT Std Lt;
  color: #666;
  font-size: 13px;
}
.upcoming-pay-name{
  font-family: HelveticaNeueLT Std Med;
  color: #333;
  font-size: 12px;
}
.upcoming-pay-left{
  float: left;
  margin-left: 8px;
}
.upcoming-pay-button{
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
.upcoming-pay-btn{
  width: 70px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  padding-top: 8px;
  color: #999;
  cursor: pointer;
  background: #f7f7f7;
  font-family: HelveticaNeueLT Std Bold;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  border-top:0px; 
}




/***********  END OF PAY BILLS POPUP  ****************/


/*********************  END HEADER ************************************/







.content-wrapper {
  width: 100%;
  /*height: 300px;*/
  /*padding: 20px 60px;*/
  padding-top: 20px; }

.content-left {
  padding-right: 15px;
  position: relative; }

.content-block-wrapper {
  border: 2px solid #dfdfdf;
  /*height: 420px;*/
  width: 100%;
  padding: 5px;
  background: #f0f0f0;
  box-shadow: 1px 1px 1px 1px #dedede;
  margin-bottom: 20px; }

.content-block {
  border: 1px solid #dfdfdf;
  height: 100%;
  width: 100%;
  background: #fff; }

.content-container {
  padding-right: 15px; }

/******************   ADD in SASS *********************/
.content-left:before {
  content: "";
  position: absolute;
  top: -1%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-top: 100px solid #e9e9e9;
  border-left: 98px solid transparent; }

.box {
  content: "";
  position: absolute;
  top: 17px;
  right: 27px;
  width: 126px;
  height: 117px;
  border-radius: 22px;
  transform: rotate(45deg);
  background: #tr;
  border-top: 2px solid #dfdfdf;
  padding: 5px;
  box-shadow: 0px 0px 0px 0px #dedede; }

.inner-box {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  border-top: 1px solid #dfdfdf;
  box-shadow: none; }

.block-title {
  height: 48px;
  width: 100%;
  padding-left: 15px; }

.block-title-acc {
  height: 70px;
  width: 100%;
  padding-left: 15px;
  /*border-bottom: 3px solid #1a64c9;*/ }

.gradient {
  height: 3px;
  width: 100%;
  background: #2570e0;
  /* Old browsers */
  background: -moz-linear-gradient(left, #2570e0 0%, #024999 40%, #024999 53%, #2570e0 71%, #ffffff 87%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #2570e0), color-stop(40%, #024999), color-stop(53%, #024999), color-stop(71%, #2570e0), color-stop(87%, #ffffff), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #2570e0 0%, #024999 40%, #024999 53%, #2570e0 71%, #ffffff 87%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #2570e0 0%, #024999 40%, #024999 53%, #2570e0 71%, #ffffff 87%, #ffffff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #2570e0 0%, #024999 40%, #024999 53%, #2570e0 71%, #ffffff 87%, #ffffff 100%);
  /* IE10+ */
  background: linear-gradient(to right, #2570e0 0%, #024999 40%, #024999 53%, #2570e0 71%, #ffffff 87%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2570e0', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 */ }

.title {
  margin-top: 15px;
  color: #2570e0;
  font-size: 18px;
  /*font-size: 10px;*/
font-family: HelveticaNeueLT Std Lt; }

.title-acc {
  margin-top: 30px;
  color: #2570e0;
  font-size: 18px; 
  font-family: HelveticaNeueLT Std Lt;

  }

.avail-bal {
  margin-top: 15px;
  margin-right: 80px; }

.avail-bal-small {
  margin-top: 15px;
  /*margin-right: 80px;*/
  margin-left: 15px;
  display: none; }

.bal-txt {
  font-size: 12px;
  font-family: HelveticaNeueLT Std Roman;
 }

.bal-value {
  color: #2570e0;
  font-size: 24px; 
font-family: HelveticaNeueLT Std Roman;
}

.bal-val-dec {
  color: #2570e0;
  font-size: 18px; }

.bal-type-list {
  width: 36%;
  height: 200px;
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 20px; }

.bal-type {
  width: 100%;
  height: 100%; }

.bal-type-option {
  height: 50px;
  width: 100%;
  padding-left: 10px;
  cursor: pointer;
  font-size:12px;
  font-family: HelveticaNeueLT Std Roman;
  padding-top: 10px; }

.bal-amt {
  font-size: 18px;
  /*font-weight: bold;*/ }

.bal-amt-dec {
  font-size: 14px;
  /*font-weight: bold;*/ }

.f-12 {
  font-size: 12px; }

.selected-bal-type {
  background: #1561a6;
  color: white;
  position: relative;
  border-radius: 3px;
  cursor: pointer; }

.selected-bal-type:after {
  left: 100%;
  top: 65%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #226aab;
  border-width: 8px;
  margin-top: -15px; }

.acc-expenses-list {
  width: 100%; }

.acc-expenses-wrapper {
  width: 64%; }

.acc-expense:nth-child(odd) {
  background: #f4f6f7; }

.acc-expense {
  height: 40px;
  background: #fbfcfc;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 15px; }

.acc-date {
  font-size: 11px;
  margin-right: 25px;
  font-family: HelveticaNeueLT Std Lt; }

.acc-exp-name {
  font-size: 11px;
  font-family: HelveticaNeueLT Std Roman; }

.display-ib {
  display: inline-block; }

.acc-exp-value {
  color: #004795;
  margin-left: -3px; 
font-size:14px;
font-family: HelveticaNeueLT Std Lt;}

.acc-exp-value-dec {
  color: #004795;
  font-size: 10px;
  margin-left: -4px;
  font-family: HelveticaNeueLT Std Lt; }

.add-account {
  width: 100%;
  height: 50px;
  padding-left: 30px;
  padding-right: 25px;
  padding-top: 20px; 
}
.add-acc{
  cursor: pointer;
}
.add-acc-txt{
  font-family: HelveticaNeueLT Std Lt;
  font-size:14px;
}
.add-icon {
  margin-bottom: -2px;
  margin-right: 10px; }

.detailed-stat {
 
  cursor: pointer;
  color: #2570e0;
  font-size: 10px;
font-family: HelveticaNeueLT Std Roman; }

.content-center-small {
  width: 100%;
  margin-top: 20px; }

.acc-expenses-small-list {
  width: 100%; }

.acc-expenses-small {
  width: 100%;
  height: 44px;
  border-left: 3px solid #2570e0;
  padding-left: 15px;
  padding-top: 5px;
  margin-bottom: 1px;
  background: #f6f6f8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f6f6f8 0%, #f6f6f8 50%, #ffffff 75%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f8), color-stop(50%, #f6f6f8), color-stop(75%, #ffffff), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f6f8 0%, #f6f6f8 50%, #ffffff 75%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f6f8 0%, #f6f6f8 50%, #ffffff 75%, #ffffff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f6f6f8 0%, #f6f6f8 50%, #ffffff 75%, #ffffff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f6f6f8 0%, #f6f6f8 50%, #ffffff 75%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f8', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */ }

.f-18 {
  font-size: 18px; }

.acc-dec {
  font-size: 15px;
  margin-left: -3px; }
.content-center-small{
  display: none;
}












@media only screen and (max-width: 640px) {
  .content-center-small{
    display: inherit;
  }
  .avail-bal-small{
    display: inherit;
  }
  .bank-name {
    display: none; }

  .acc-name {
    display: none; }

  .logo {
    margin-left: 10px; }

  .option-txt {
    display: none; }

  .message {
    margin-right: 25px; }

  .arrow {
    margin-right: 5px;
    margin-left: 5px; }

  .logout-pic {
    margin-right: 10px;
    margin-left: 10px; }

  .dashboard {
    display: none; }

  .dash-txt {
    font-weight: lighter;
    color: #fff;
    font-size: 16px;
    padding-top: 25px; }

  .option-logo {
    margin-right: 12px;
    margin-left: 12px; }

  .content-left{
    padding-left: 10px;
    padding-right: 10px;
  }

  .avail-bal {
    display: none; }

  .content-center {
    display: none; }

  .add-account {
    display: none; } }

    @media only screen and (max-width: 920px) and (min-width: 640px) {
  .avail-bal {
    display: none; }

  .content-center {
    display: none;
     }

  .add-account {
    display: none; }

    .content-center-small{
    display: inherit;
    margin-bottom: 30px;
    }
    .avail-bal-small{
    display: inherit;
  } 
   .content-left{
    padding-left: 10px;
    padding-right: 10px;
  }
  .content-wrapper{
    padding-right: 10px;
  }
}
/*# sourceMappingURL=common.css.map */

/*# sourceMappingURL=common.css.map */


/*                        */
.user-trans-details{
  margin:5px;
  padding:5px;
  padding-bottom:10px;
  border-bottom: 1px dashed #e6e6e6;
}
.user-detail-pay-f{
  font-size: 12px;
  line-height: 1.4;
  font-family: HelveticaNeueLT Std Bold;
}
.acc-num-f{
  /*font-weight:bold;*/
  color:#666666;
}
.bank-name-f{
  /*font-weight:bold;*/
  color:#999999;
}
.f-bold{
  font-weight:bold;
}
.initiate-pay-btn{
  color:#797979;
  text-align:center;
  line-height: 2.7;
  padding: 0 10px 0 10px;
  border-radius:3px;
  background-color:#f6f6f6;
  /*font-weight:bold;*/
  margin-top: 14px;
  margin-right: 23px;
  cursor:pointer;
  font-size: 12px;  
  font-family: HelveticaNeueLT Std Bold;
  border:1px solid #b6b6b6;
}
.initiate-pay-btn:hover{
  background-color:#1561a6;
  color:white;
}
.freq-trans-data-cont{
  padding:12px 16px 5px 16px;
  font-size:10px;
  font-family: HelveticaNeueLT Std Bold;
}
.select-box-spac{
  margin-bottom:10px;
  background-image: url('../../src/images/down-arrow.png');
  background-position: right 10px center;
  background-color: white !important;
  border:1px solid #cccccc;
  position:relative;
  border-radius:3px;
}
.freq-trnsfr-btn{
  color:#696969;
  /*font-weight:bold;*/
  text-align:center;
  background:#eeeeee;
  line-height: 2.5;
  padding: 0 10px 0 10px;
  font-size: 12px;  
  font-family: HelveticaNeueLT Std Bold;
  cursor:pointer;
  /*margin-right: 16px;*/
  border-radius:3px;
  border:1px solid #cccccc;
}
.freq-trnsfr-btn:hover{
  background-color:#1561a6;
}
.upcoming-container{
  padding: 22px 10px 15px 54px;
  font-size:12px;
  line-height:1.4;
  position:relative;
  font-family: HelveticaNeueLT Std Med;
}
.left-arrow-pos{
  position:absolute;
  left: 9px;
  top: 43%;
}
.right-arrow-pos{
  position:absolute;
  right: 0;
  top: 43%;
}
.upcom-pay-btn{
  margin-top:14px;
}
.goal-container{
  padding: 0px 50px 0px 19px;
  /*position:relative;*/
}
.hollow-car-container{
  width:87%;
  position:absolute;
  right:0;
  opacity:0.4;
  z-index:100;
  background-color:red;
}
.for-new-car{
  float:left;
  color:#3366cc;
  font-size: 11px;
  margin-left: 10px;
  margin-top:-5px;
  font-family: HelveticaNeueLT Std Roman;
}
.saved-amount{
  font-size:10px;
  float:left;
  text-align:left;
  color:#959595;
  margin-right:14px;
  margin-top:2px;
}
.target-amount{
  font-size:10px;
  float:right;
  text-align:left;
  color:#959595;
  margin-top:2px;
}


/*                      */
.name-acc-detail-container{
  /*background-color:red;*/
  margin:35px 0;
  height:100px;
  margin-left:85px;
}

.name-acc-detail-container .initiate-pay-btn{
  margin-left:25px;
  line-height:2.4;
  margin-right:0;
  padding:0 8px 0 8px;
}
.name-acc-detail-container .user-trans-details{
  border-bottom-color:#a6a6a6;
}
.close-button-on-click{
  /*background:url('../../src/images/close_subheader_1x.png') center no-repeat;*/
}
.bckgrnd-color-link{
  background-color:#d8d8d8;
  color:#333333;
}