@font-face {
    font-family: HelveticaNeueLT Std Med;
    src: url(../../src/fonts/HelveticaNeueLTCom-Md.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std Lt;
    src: url(../../src/fonts/HelveticaNeueLTCom-Lt.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std UltLt;
    src: url(../../src/fonts/HelveticaNeueLTStd-UltLt_0.otf);
}

@font-face {
    font-family: HelveticaNeueLT Std Bold;
    src: url(../../src/fonts/HelveticaNeueLTCom-Bd.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std Roman;
    src: url(../../src/fonts/HelveticaNeueLTCom-Roman.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std Thin;
    src: url(../../src/fonts/HelveticaNeueLTStd-Th_0.otf);
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, select, input {
  letter-spacing: 0;
  word-spacing: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /*  font-family:'Roboto', Arial, Helvetica, sans-serif; */
  font-weight: 400; }

.row {
  max-width: 90rem; }

/*CSS Reset*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #e9e9e9; }

.grid-container {
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box; }

/*CSS Reset*/
.float-l {
  float: left; }

.float-r {
  float: right; }

.clearfix {
  clear: both; }

.display-ib {
  display: inline-block; }

.h-100 {
  height: 100%; }

.header-wrapper {
  height: 120px;
  width: 100%;
  /*border-bottom: 1px solid #b9b9b9; */ }

.top-bar {
  background: #03448c;
  color: #fff;
  height: 60px;
  margin: 0;
  overflow: visible;
  z-index: 1; }

.main-menu-bar {
  height: 60px;
  color: white;
  background: #333;
  /*border-bottom: 1px solid #333333; */ }

.top-bar-left {
  height: 100%; }

.menu-small {
  padding-top: 16px;
  margin-right: 10px;
  margin-left: 10px; }

.logo {
  /*margin-left: 30px;*/
  margin-left: 5px;
  padding-top: 15px;
  cursor: pointer;
  display: inline-block; }

.bank-name {
  display: inline-block;
  margin-left: 8px; }

.top-bar-right {
  height: 100%; }

.logout {
  height: 100%;
  padding-top: 15px;
  cursor: pointer;
  text-align: center;
  border-left: 1px solid #3a6ea8;
  background: #04468d; }

.logout-pic {
  margin-right: 20px;
  margin-left: 20px; }

.account {
  height: 100%;
  background: #033e7f; }

.acc-pic {
  height: 50px;
  width: 50px; }

.acc-name {
  vertical-align: middle;
  margin-top: -57px;
  font-size: 12px;
font-family: HelveticaNeueLT Std Roman;
  line-height: 12px;
  padding-top: 25px;
  /*width: 108px;*/
  width: 90px;
  /*padding-left: 10px;*/
  padding-left: 5px;
  height: 100%;
  display: inline-block; }

.personal-banking {
  color: #999999;
  font-size: 9px;
font-family: HelveticaNeueLT Std Med; }

.arrow {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-top: -52px;
  padding-top: 12px;
  margin-right: 10px; }

.message {
  height: 100%;
  cursor: pointer;
  margin-right: 30px; }

.msg-logo {
  padding-top: 12px; }

.dash {
  height: 100%; }

.dashboard {
  margin-top: 8px;
  height: 46px;
  /*margin-left: 30px;*/
  margin-left: 5px;
  border-right: 2px solid #484848; }

.dashboard-active {
  margin-top: 8px;
  height: 46px;
  /*margin-left: 30px;*/
  margin-left: 5px;
  border: 0px;}

.menu-logo {
  display: inline-block;
  cursor: pointer;
  margin-top: 7px;
  background: url('../../src/images/main-menu.png');
  height: 26px;
  width: 26px;
 }
.menu-logo-active{
   display: inline-block;
  cursor: pointer;
  margin-top: 12px;
  background: url('../../src/images/close_subheader_1x.png') no-repeat;
  height: 26px;
  width: 26px;
}
.menu-rb{
  float: left;
  height: 60px;
}
.menu-rb-active{
  float: left;
  height: 60px;
  border-right: 2px solid #484848;
}
.opac{
  opacity: 0.2;
}
.menu-txt {
  font-size: 10px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 20px;
  vertical-align: top;
  font-size: 10px;
font-family: HelveticaNeueLT Std Roman;
  margin-top: 10px; }

.dash-txt {
  height: 100%;
  padding-top: 20px;
  padding-left: 15px;
  color: #fff;
  font-size: 18px;
/*font-weight: 700;*/
font-family: HelveticaNeueLT Std Bold; }

.dash-options {
  font-size: 10px;
font-family: HelveticaNeueLT Std Roman;
  height: 100%; }

.option-block {
  border-left: 1px solid #484848;
  cursor: pointer;
  height: 100%;
  padding-top: 20px;
  float: right; }

.option-logo {
  display: inline-block;
  margin-left: 15px;
  vertical-align: top;
  margin-top: 2px; }

.option-txt {
  font-size: 11px;
  display: inline-block;
  margin-right: 15px; }


  .menu-overlay{
  width: 100%;
  background: #333333;
  border-top: 1px solid #484848;
  position: absolute;
  z-index: 1;
}
.menu-list{
  width: 100%;
}
.menu-option{
  width: 16.25%;
  /*height: 100px;*/
  padding-top: 30px;
  padding-bottom: 35px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.main-menu-txt{
 font-size: 12px;
 color: white;
}
.display-none{
  display: none;
}


/*********************  END HEADER ************************************/
.content-wrapper {
  width: 100%;
  /*height: 300px;*/
  /*padding: 20px 60px;*/
  background: #eaeaea;
  padding: 15px 20px; }

.f-12 {
  font-size: 12px; }

.f-18 {
  font-size: 18px; }

.payment-category{
font-size: 29px;
margin-left: 16px;
font-weight: 400;
margin-top: 20px;
margin-bottom: 20px;
}
.transactions-block-wrapper{
  width: 100%;
  margin-top: 20px;
}
.transactions-block{
  height: 70px;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 40px;
  background: #59728d;
  /*border-bottom: 2px solid #3f5165;*/
}
.trans-txt{
  color: white;
  font-size: 18px;
  font-family: HelveticaNeueLT Std Bold;

}
.download{
  display: inline-block;
  cursor: pointer;
}
.download-txt {
/*font-size: 14px;*/
margin-left: 10px;
vertical-align: top;
color: white;
}
.table-wrapper{
  width: 100%;
  background: #7fa3ca;
  padding: 20px;
}
.table{
  width: 100%;
}
.trans-table{
  width: 100%;
  /*padding: 0px 20px;*/
}
.transaction{
margin-bottom: 1px;
font-size: 14px;
background: white;
height: 51px;
color: #333333;
border-radius: 5px;
padding: 0px 20px 10px 20px;
  
}
.transaction:nth-child(odd) {
  background: #f2f6fa; }
.transaction>div{
  font-size: 12px;
  font-family: HelveticaNeueLT Std Roman;
}
.transaction:first-child{
  color: white;
  background: transparent;
  height: 30px;
  padding-top: 5px;
  font-weight: bold;
}
.transaction:first-child>div{
  font-weight: bold;
}
.trans-date{
  width: 90px;
}
.trans-desc{
  width: 165px;
}
.trans-amt{
  margin-right: 55px;
  width: 70px;
  font-family: HelveticaNeueLT Std Bold;
  font-size:12px;
}
.trans-ref{
  /*margin-right: 50px;*/
  width: 60px;
}
.f-10{
  font-size: 10px;
}
.trans-action{
  margin-left: 70px;
  width: 120px;
  text-align: left;
  /*padding: 10px 0;*/
}
.edit{
  /*height: 100%;*/
 width: 50px;
height: 30px;
border-radius: 3px;
background: #979ba2;
text-align: center;
padding-top: 6px;
padding-bottom: 10px;
padding: 7px 5px 10px 5px;
cursor: pointer;
color: white;
display: inline-block;
margin-right: 10px;
font-family: HelveticaNeueLT Std Bold;
font-size: 12px;
}
.pt-20{
  padding-top: 20px;
}











@media only screen and (max-width: 640px) {
  .content-center-small{
    display: inherit;
  }
  .avail-bal-small{
    display: inherit;
  }
  .bank-name {
    display: none; }

  .acc-name {
    display: none; }

  .logo {
    margin-left: 10px; }

  .option-txt {
    display: none; }

  .message {
    margin-right: 25px; }

  .arrow {
    margin-right: 5px;
    margin-left: 5px; }

  .logout-pic {
    margin-right: 10px;
    margin-left: 10px; }

  .dashboard {
    display: none; }

  .dash-txt {
    font-weight: lighter;
    color: #333;
    font-size: 16px;
    padding-top: 25px; }

  .option-logo {
    margin-right: 12px;
    margin-left: 12px; }

  .content-left{
    padding-left: 10px;
    padding-right: 10px;
  }

  .avail-bal {
    display: none; }

  .content-center {
    display: none; }

  .add-account {
    display: none; } }

    @media only screen and (max-width: 920px) and (min-width: 640px) {
  .avail-bal {
    display: none; }

  .content-center {
    display: none;
     }

  .add-account {
    display: none; }

    .content-center-small{
    display: inherit;
    margin-bottom: 30px;
    }
    .avail-bal-small{
    display: inherit;
  } 
   .content-left{
    padding-left: 10px;
    padding-right: 10px;
  }
  .content-wrapper{
    padding-right: 10px;
  }
}
/*# sourceMappingURL=common.css.map */

/*# sourceMappingURL=common.css.map */
.grid-container {
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box; }

.all-accounts-body-container {
  padding: 3% 2%; }

.allaccounts-sub-header-text {
  color: #333333;
  font-size: 32px;
  font-family: HelveticaNeueLT Std Thin;
  float: left; }

.allaccounts-sub-header-image {
  height: 20px;
  width: 20px;
  float: right;
  cursor: pointer;
  margin-right: 1.8em; }

.allacc-body-content-wrapper {
  margin: 1% 0;
  /*width: 100%;*/ }

/*.allacc-body-content-first-wrap{
  width: 31%;
  float: left;
  border: 2px solid #dfdfdf;
  padding: 5px;
  background: #f0f0f0;
  box-shadow: 1px 1px 1px 1px #dedede;
  margin: 1em 1.3em 1em 0em;
}*/
.body-wrap {
  padding: 1em 1.3em 0.3em 0em;
  float: left !important; }
.allacc-body-content-second-list-wrap {
  width: 100%;
  float: left;
  border: 2px solid #dfdfdf;
  padding: 5px;
  background: #f0f0f0;
  box-shadow: 1px 1px 1px 1px #dedede; }

.allacc-body-content-second-list-wrap > div > div.allacc-content-heading-text {
  color: #2570e0; }

.allacc-body-content-second-list-wrap > div > p > span {
  color: #2570e0; }
.allacc-body-content-sec-wrap {
  border: 1px solid #dfdfdf;
  background: #fff;
  width: 100%; }

.allacc-content-heading-text {
  margin: 3%;
  float: left;
  font-size: 18px;
  font-family: HelveticaNeueLT Std Lt;
  font-weight: 500;
  margin-left: 15px; }



.allacc-content-second-border {
  background: #2570e0;
  /* Old browsers */
  background: -moz-linear-gradient(left, #2570e0 0%, #034a9b 41%, #0850a5 54%, #73a3e9 75%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #2570e0), color-stop(41%, #034a9b), color-stop(54%, #0850a5), color-stop(75%, #73a3e9), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #2570e0 0%, #034a9b 41%, #0850a5 54%, #73a3e9 75%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #2570e0 0%, #034a9b 41%, #0850a5 54%, #73a3e9 75%, #ffffff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #2570e0 0%, #034a9b 41%, #0850a5 54%, #73a3e9 75%, #ffffff 100%);
  /* IE10+ */
  background: linear-gradient(to right, #2570e0 0%, #034a9b 41%, #0850a5 54%, #73a3e9 75%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2570e0', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 */
  height: 3px;
  width: 88%;
  float: left;
  margin-bottom: 1em; }


.acc-content-type-num{
  float: left;
  width: 100%;
}
.allacc-content-account-type {
  float: left;
font-family: HelveticaNeueLT Std Lt;
font-size: 12px;
margin-left: 5px;
/* width: 100%; */
color: #333333; }
  .allacc-content-account-type-to {
  float: left;
  font-family: HelveticaNeueLT Std Lt;
  font-size:12px;
  margin-left: 15px;
  color: #666666; }

.allacc-content-account-no {
  float: left;
  font-family: HelveticaNeueLT Std Lt;
  font-size:12px;
  margin-left: 5px;
   color: #333333;
  margin-bottom: 10px; }
  .allacc-content-account-no-on {
  float: left;
  font-family: HelveticaNeueLT Std Lt;
  font-size:12px;
  margin-left: 15px;
  color: #666666;
  margin-bottom: 10px; }

.allacc-content-balance-text {
  float: left;
  margin-left: 15px;
  color: #333333;
  font-family: HelveticaNeueLT Std Roman;
  font-size:14px;
  margin-top: 0.5em;
  width: 100%; }

.allacc-content-balance-amount {
  float: left;
  margin-left: 3%;
  font-family: HelveticaNeueLT Std Bold;
  font-size:30px;
  margin: 0.34em 0em 0.7em 3%; }

.allacc-content-currency-symbol {
  float: left;
  font-family: HelveticaNeueLT Std Bold;
  font-weight: 500;
  margin: 0.33em 0em 0.7em 3%;
  margin-left: 15px;
  font-size: 30px; }

/*# sourceMappingURL=accounts.css.map */
@media only screen and (max-width: 64em) {
  .body-wrap {
    padding: 1em 0.6em 0.3em 0.6em;
    float: left !important; } }
/*# sourceMappingURL=accounts.css.map */
.small-box {
  content: "";
  position: absolute;
  top: 28px;
  right: 26px;
  width: 96px;
  height: 83px;
  border-radius: 22px;
  transform: rotate(45deg);
  background: #tr;
  border-top: 2px solid #dfdfdf;
  padding: 5px;
  box-shadow: 0px 0px 0px 0px #dedede; }

.inner-small-box {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  border-top: 1px solid #dfdfdf;
  box-shadow: none; }

.allacc-body-content-first-list-wrap:before, .allacc-body-content-second-list-wrap:before, .allacc-body-content-third-list-wrap:before, .allacc-body-content-fourth-list-wrap:before {
  content: "";
  position: absolute;
  top: -1%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-top: 100px solid #e9e9e9;
  border-left: 98px solid transparent; }

@media only screen and (max-width: 64em) {
  .small-box {
    content: "";
    position: absolute;
    top: 32px;
    right: 18px;
    width: 114px;
    height: 99px;
    border-radius: 22px;
    transform: rotate(45deg);
    background: #tr;
    border-top: 2px solid #dfdfdf;
    padding: 5px;
    box-shadow: 0px 0px 0px 0px #dedede; } }
