@font-face {
    font-family: HelveticaNeueLT Std Med;
    src: url(../../src/fonts/HelveticaNeueLTCom-Md.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std Lt;
    src: url(../../src/fonts/HelveticaNeueLTCom-Lt.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std UltLt;
    src: url(../../src/fonts/HelveticaNeueLTStd-UltLt_0.otf);
}

@font-face {
    font-family: HelveticaNeueLT Std Bold;
    src: url(../../src/fonts/HelveticaNeueLTCom-Bd.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std Roman;
    src: url(../../src/fonts/HelveticaNeueLTCom-Roman.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std Thin;
    src: url(../../src/fonts/HelveticaNeueLTStd-Th_0.otf);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, select, input {
  letter-spacing: 0;
  word-spacing: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /*  font-family:'Roboto', Arial, Helvetica, sans-serif; */
  font-weight: 400; }

@font-face{
  font-family: helvetica;
  src: url('../../src/fonts/helvetica/helr45w.ttf')
}
.row {
  max-width: 90rem; }

/*CSS Reset*/
body {
  margin: 0;
  padding: 0;
   font-family: helvetica;
  /*font-family: 'Open Sans', sans-serif;*/
  background: #eaeaea; }

.grid-container {
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box; }

/*CSS Reset*/
.float-l {
  float: left; }

.float-r {
  float: right; }

.clearfix {
  clear: both; }

.display-ib {
  display: inline-block; }

.h-100 {
  height: 100%; }

.header-wrapper {
  height: 120px;
  width: 100%;
  /*border-bottom: 1px solid #b9b9b9; */ }

.top-bar {
  background: #03448c;
  color: #fff;
  height: 60px;
  margin: 0;
  overflow: visible;
  z-index: 1; }

.main-menu-bar {
  height: 60px;
  color: white;
  background: #333;
  /*border-bottom: 1px solid #333333; */ }

.top-bar-left {
  height: 100%; }

.menu-small {
  padding-top: 16px;
  margin-right: 10px;
  margin-left: 10px; }

.logo {
  /*margin-left: 30px;*/
  margin-left: 5px;
  padding-top: 15px;
  cursor: pointer;
  display: inline-block; }

.bank-name {
  display: inline-block;
  margin-left: 8px; }

.top-bar-right {
  height: 100%; }

.logout {
  height: 100%;
  padding-top: 15px;
  cursor: pointer;
  text-align: center;
  border-left: 1px solid #3a6ea8;
  background: #04468d; }

.logout-pic {
  margin-right: 20px;
  margin-left: 20px; }

.account {
  height: 100%;
  background: #033e7f; }

.acc-pic {
  height: 50px;
  width: 50px; }

.acc-name {
  vertical-align: middle;
  margin-top: -57px;
  font-size: 12px;
font-family: HelveticaNeueLT Std Roman;
  line-height: 12px;
  padding-top: 25px;
  /*width: 108px;*/
  width: 90px;
  /*padding-left: 10px;*/
  padding-left: 5px;
  height: 100%;
  display: inline-block; }

.personal-banking {
  color: #999999;
  /*font-size: 10px;*/
  font-size: 9px;
font-family: HelveticaNeueLT Std Med; }

.arrow {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-top: -52px;
  padding-top: 12px;
  margin-right: 10px; }

.message {
  height: 100%;
  cursor: pointer;
  margin-right: 30px; }

.msg-logo {
  padding-top: 12px; }

.dash {
  height: 100%; }

.dashboard {
  margin-top: 8px;
  height: 46px;
  /*margin-left: 30px;*/
  margin-left: 5px;
  border-right: 2px solid #484848; }

.dashboard-active {
  margin-top: 8px;
  height: 46px;
  /*margin-left: 30px;*/
  margin-left: 5px;
  border: 0px;}

.menu-logo {


  display: inline-block;
  cursor: pointer;
  margin-top: 9px;
  background: url('../../src/images/main-menu.png');
  height: 26px;
  width: 26px;

 }
.menu-logo-active{
   display: inline-block;
  cursor: pointer;
  margin-top: 12px;
  background: url('../../src/images/close_subheader_1x.png') no-repeat;
  height: 26px;
  width: 26px;

}
.menu-rb{
  float: left;
  height: 60px;
}
.menu-rb-active{
  float: left;
  height: 60px;
  border-right: 2px solid #484848;
}
.opac{
  opacity: 0.2;
}
.menu-txt {
  font-size: 10px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 20px;
  vertical-align: top;
  margin-top: 10px; 
font-size: 10px;
font-family: HelveticaNeueLT Std Roman;}

.dash-txt {
  height: 100%;
  padding-top: 20px;
  padding-left: 15px;
  color: #fff;
  font-size: 18px;
  font-weight: 700; }

.dash-options {
  font-size: 10px;
font-family: HelveticaNeueLT Std Roman;
  height: 100%; }

.option-block {
  border-left: 1px solid #484848;
  cursor: pointer;
  height: 100%;
  padding-top: 20px;
  float: right; }
.r35580
{
  border-left: 1px solid #484848;
  cursor: pointer;
  height: 100%;
  padding-top: 15px;
  float: right; }

.option-logo {
  display: inline-block;
  margin-left: 15px;
  vertical-align: top;
  margin-top: 2px; }

.option-txt {
  font-size: 11px;
  display: inline-block;
  margin-right: 15px; }


  .menu-overlay{
  width: 100%;
  background: #333333;
  border-top: 1px solid #484848;
  position: absolute;
  z-index: 1;
}
.menu-list{
  width: 100%;
}
.menu-option{
  width: 16.25%;
  /*height: 100px;*/
  padding-top: 30px;
  padding-bottom: 35px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.main-menu-txt{
 font-size: 12px;
 color: white;
}
.display-none{
  display: none;
}
.opac{
  opacity:0.2;
}


/*********************  END HEADER ************************************/
@media only screen and (max-width: 640px) {
  .content-center-small{
    display: inherit;
  }
  .avail-bal-small{
    display: inherit;
  }
  .bank-name {
    display: none; }

  .acc-name {
    display: none; }

  .logo {
    margin-left: 10px; }

  .option-txt {
    display: none; }

  .message {
    margin-right: 25px; }

  .arrow {
    margin-right: 5px;
    margin-left: 5px; }

  .logout-pic {
    margin-right: 10px;
    margin-left: 10px; }

  .dashboard {
    display: none; }

  .dash-txt {
    font-weight: lighter;
    color: #333;
    font-size: 16px;
    font-family: HelveticaNeueLT Std Bold;
    padding-top: 25px; }

  .option-logo {
    margin-right: 12px;
    margin-left: 12px; }

  .content-left{
    padding-left: 10px;
    padding-right: 10px;
  }

  .avail-bal {
    display: none; }

  .content-center {
    display: none; }

  .add-account {
    display: none; } }

    /****************************Payments-FT Container Styles*********************/

.payment-FT-container-wrap{
  padding: 10px 8px 10px 14px;
}
.sub-head-container-wrap{
  padding: 0px 0px 20px 16px;
}
.head-sub{
  margin-top: 5px;
}
.back-to-pay-text{
font-size: 10px;
font-family: HelveticaNeueLT Std Roman;
font-weight: 500;
color: #666666;
float: left;
cursor: pointer;
line-height: 20px;
}
.back-to-pay-icon{
float: left;
margin-right: 2px;
cursor: pointer;
}
.sub-head-text{
  font-size: 32px;
font-family: HelveticaNeueLT Std UltLt;
float: left;
color: #333333;
padding: 5px 0px;
}
.sub-head-transfer-type-sel{
border-radius: 5px;
float: left;
margin-left: 64px;
margin-top: 4px;
border: 1px solid #c9c9c9;
background: white;
font-family: HelveticaNeueLT Std Roman;
}
.sub-head-transfer-type-sel>li{
height: 40px;
width: 79px;
float: left;
color: #2570e0;
font-size: 10px;
/* font-weight: 700; */
text-align: center;
padding: 7px 11px;
cursor: pointer;
}
.sub-head-transfer-type-sel>li:nth-child(2){
  border-right: 1px solid #c9c9c9;
  border-left: 1px solid #c9c9c9;
}
.sub-head-transfer-selected{
color: white !important;
background: #666666 !important;
position: relative;
}
.sub-head-transfer-selected:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(102, 102, 102, 0);
  border-top-color: #666666;
  border-width: 5px;
  margin-left: -5px;
}
.sub-head-close-button{
float: right;
height: 38px;
width: 25px;
cursor: pointer;
padding-top: 9px;
margin-right: 12px;
}
.pd-container-wrap{
float: right;
width: 83%;
background: #ffffff;
padding-left: 15px;
border-radius: 3px;
border-right: 1px solid #c3c3c3;
border-left: 1px solid #c3c3c3;
}
.pd-container-side-headings{
float: left;
color: #333333;
padding: 40px 20px 15px 25px;
font-size: 14px;
/* font-size: 12px; */
font-family: HelveticaNeueLT Std med;
}
.pd-container-second-side-headings{
  float: left;
color: #202020;
padding: 25px 20px 10px 25px;
font-size: 15px;
font-weight: 700;
}
.pd-account-sel{
  margin: 5px 5px 0px 7px;
  color: #333333 !important;
}
.pd-account-sel>li{
width: 171px;
float: left;
color: #333333 !important;
background: #e3e3e3 !important;
border: 1px solid #d8d8d8;
/* margin-right: 9px; */
margin-left: 9px;
border-radius: 5px;
padding: 0.8em 1em 0.9em 1em;
cursor: pointer;
}
.pd-date-heading{
  float: left;
color: #333333;
padding: 40px 20px 15px 53px;
font-size: 14px;
/* font-size: 12px; */
font-family: HelveticaNeueLT Std med;
}
.pd-account-sel>li:first-child{
  margin-left: 17px;
}
.pd-account-sel-acc-type{
  float: left;
font-family: HelveticaNeueLT Std Roman;
font-size: 10px;
}
.pd-acc-sel-accNo{
  float: left;
font-family: HelveticaNeueLT Std Med;
font-size: 10px;
}
.pd-acc-sel-curBal{
  float: left;
font-family: HelveticaNeueLT Std Roman;
font-size: 10px;
margin-top: 20px;
}
.pd-acc-sel-amount{
  float: left;
font-size: 14px;
font-family: HelveticaNeueLT Std Bold;
/*font-size: 10px;*/
}
.pd-acc-selected{
 color: #333333 !important;
background: #f0f0f0 !important;
}
.pd-add-new-beneficiary{
float: left;
background: #2570e0;
color: white;
height: 40px;
width: 80px;
font-size: 10px;
font-family: HelveticaNeueLT Std Roman;
text-align: center;
padding: 6px 10px;
cursor: pointer;
border-radius: 4px;
margin-left: 17px;
margin-top: 6px;
}
.pd-select-date-container{
float: left;
height: 103px;
width: 106px;
background: #e3e3e3;
color: #333333;
text-align: center;
padding-top: 23px;
margin-left: 53px;
border-radius: 4px;
border: 1px solid #d8d8d8;
line-height: 27px;
}
.ben-side-heading{
  float: left;
color: #333333;
padding: 30px 20px 0px 25px;
font-size: 14px;
/* font-size: 12px; */
font-family: HelveticaNeueLT Std med;
}
.pd-select-date{
  font-size: 36px;
  font-family: HelveticaNeueLT Std UltLt;

/*font-weight: 500;*/
}
.pd-select-month{
  /*font-weight: 700;*/
  font-family: HelveticaNeueLT Std Roman;
font-size: 18px;
letter-spacing: 2px;
}
.pd-edit-date{
  float: left;
margin: 18px 19px 0px 12px;
cursor: pointer;
}
.pd-edit-date-text{
  font-size: 12px;
color: #3366cc;
font-weight: 700;
vertical-align: top;
}
.pd-beneficiary-container{
   padding-bottom: 10px;
}
.pd-beneficiary-side-links{
    font-size: 33px;
font-weight: 500;
padding-top: 40px;
margin-right: 20px;
cursor: pointer;
float: right;
}
.pd-beneficiary-edit-side-links{
    font-size: 33px;
font-weight: 500;
padding-top: 40px;
margin-right: 20px;
cursor: pointer;
float: right;
}
.beneficiary-sidelinks-img{
  float: left;
}
.beneficiary-sidelinks-text{
font-size: 12px;
color: #3366cc;
font-weight: 700;
vertical-align: top;
float: right;
width: 101px;
margin-left: 5px;
}
.beneficiary-sidelinks-edit-text{
font-size: 12px;
color: #3366cc;
font-weight: 700;
vertical-align: top;
float: right;
width: 75px;
margin-left: 5px;
}
.beneficiary-table-wrap{
background: #e3e3e3;
margin: 0px 14px 19px 5px;
border-radius: 2px;
padding: 15px 10px 15px 10px;
}
.beneficiary-table{
  margin: 23px 10px;
width: 97%;
}
.beneficiary-table-head{
padding-left: 19px;
}
.beneficiary-table-head>li{
 color: #333333;
font-size: 12px;
/*font-weight: 700;*/
font-family: HelveticaNeueLT Std Roman;
/*font-size: 10px;*/
float: left;
}

.beneficiary-table-head>li:nth-child(2){
margin-left: 72px;
}
.beneficiary-table-head>li:nth-child(3){
margin-left: 149px;
}

.beneficiary-table-head>li:nth-child(4){
margin-left: 47px;
width: 57px;
text-align: right;
}

.beneficiary-table-head>li:nth-child(5){
width: 60px;
margin-left: 31px;
}

.beneficiary-table-head>li:nth-child(6){
width: 76px;
margin-left: 79px;
}
.beneficiary-table-first-list{
  background: #eeeeee;
margin-top: 15px;
border-radius: 7px;
margin-bottom: 3px;
}
.beneficiary-table-first-list>li{
   color: #333333;
font-size: 11px;
font-weight: 500;
font-family: HelveticaNeueLT Std Roman;
float: left;
}

.beneficiary-table-first-list>li:nth-child(1){
margin-left: 9px;
padding: 19px 10px;
text-align: left;
}
.beneficiary-table-first-list>li:nth-child(2){
margin-left: 37px;
padding: 19px 10px;
text-align: left;
}
.beneficiary-table-first-list>li:nth-child(3){
margin-left: 104px;
padding: 16px 10px;
font-family: HelveticaNeueLT Std Bold;
font-size: 14px;
text-align: right;
}

.beneficiary-table-first-list>li:nth-child(4){
padding: 14px 8px 11px 10px;
width: 80px;
margin-left: 22px;
text-align: right;
text-align: right;
}
.beneficiary-table-first-list>li:nth-child(5){
margin-left: 15px;
padding: 19px 10px;
font-size: 10px;
text-align: left;
}

.beneficiary-table-first-list>li:nth-child(6){
margin-left: 54px;
padding: 19px 10px;
font-size: 10px;
text-align: left;
}
.beneficiary-table-second-list{
background: #ffffff;
border-radius: 8px;
margin-bottom: 3px;

}
.beneficiary-table-second-list>li{
   color: #333333;
font-size: 11px;
font-weight: 500;
font-family: HelveticaNeueLT Std Roman;
float: left;
}

.beneficiary-table-second-list>li:nth-child(1){
margin-left: 9px;
padding: 19px 10px;
text-align: left;
}
.beneficiary-table-second-list>li:nth-child(2){
margin-left: 28px;
padding: 19px 10px;
text-align: left;
}
.beneficiary-table-second-list>li:nth-child(3){
margin-left: 95px;
padding: 16px 10px 16px 10px;
font-family: HelveticaNeueLT Std Bold;
text-align: right;
font-size: 14px;}


.beneficiary-table-second-list>li:nth-child(4){
padding: 14px 8px 11px 10px;
width: 80px;
margin-left: 22px;
text-align: right;
}
.beneficiary-table-second-list>li:nth-child(5){
margin-left: 15px;
padding: 19px 10px;
font-size: 10px;
text-align: left;
}

.beneficiary-table-second-list>li:nth-child(6){
margin-left: 54px;
text-align: left;
padding: 19px 10px;
font-size: 10px;
}
.ben-totalamount-text{
float: right;
padding-top: 18px;
font-size: 12px;
/* font-weight: 700; */
font-family: HelveticaNeueLT Std Roman;
color: #333333;
padding-right: 12px;

}
.ben-total-amount{
color: #333333;
font-size: 24px;
font-family: HelveticaNeueLT Std Bold;
/* font-weight: 900; */
float: right;
margin-right: 13px;
}
.ben-next-prev-click{
padding-top: 23px;
margin-right: 29px;
padding-bottom: 24px;
}
.ben-next-text{
  color: #2570e0;
font-size: 32px;
 font-family: HelveticaNeueLT Std Thin;
font-weight: 500;
margin-right: 12px;
float: right;
cursor: pointer;
}
.ben-prev-text{
  color: #2570e0;
font-size: 32px;
 font-family: HelveticaNeueLT Std Thin;
  /*font-size:14px;*/
font-weight: 500;
margin-left: 5px;
float: left;
cursor: pointer;
}
.pd-left-step-wrap{
  float: left;
position: absolute;
}
.pd-step-container-wrap{
background: #1561a6;
/*background: #2570e0;*/
width: 169px;
padding: 12px;
position: relative;
border-radius: 5px;
margin-top: 11px;
line-height: 15px;
}
.pd-step-container-wrap:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(65, 127, 183, 0);
  border-left-color: #1561a6;
  border-width: 7px;
  margin-top: -7px;
}
.pd-step-no{
color: white;
font-size: 12px;
font-family: HelveticaNeueLT Std med;
/* font-weight: 700; */
margin-left: 3px;
margin-top: 2px;
}
.pd-step-name{
color: white;
font-size: 14px;
font-family: HelveticaNeueLT Std Lt;
margin-left: 3px;
}
.pd-unselected-step-container{
padding: 10px;
margin-top: 10px;
line-height: 13px;
}
.pd-selected-step-confirm-container{
 padding: 10px;
margin-top: 24px;
margin-left: 6px;
line-height: 13px;
}
.pd-step-two-no{
  color: #333333;
font-size: 12px;
font-family: HelveticaNeueLT Std med;
/*font-weight: 700;*/
}
.pd-step-two-name{
  color: #333333;
font-size: 14px;
font-family: HelveticaNeueLT Std Lt;
font-weight: 500;
}
.pd-step-three-no{
  color: #999999;
font-size: 12px;
font-family: HelveticaNeueLT Std med;
margin-left: 5px;
}
.pd-step-three-name{
  color: #999999;
font-size: 14px;
font-family: HelveticaNeueLT Std Lt;
margin-left: 5px;
}
.ben-gradient{
background: -moz-linear-gradient(top,  rgba(212,212,212,0.03) 0%, rgba(212,212,212,0.03) 1%, rgba(216,216,216,1) 15%, rgba(240,240,240,0.37) 91%, rgba(240,240,240,0.37) 92%, rgba(240,240,240,0.37) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(212,212,212,0.03)), color-stop(1%,rgba(212,212,212,0.03)), color-stop(15%,rgba(216,216,216,1)), color-stop(91%,rgba(240,240,240,0.37)), color-stop(92%,rgba(240,240,240,0.37)), color-stop(100%,rgba(240,240,240,0.37))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(212,212,212,0.03) 0%,rgba(212,212,212,0.03) 1%,rgba(216,216,216,1) 15%,rgba(240,240,240,0.37) 91%,rgba(240,240,240,0.37) 92%,rgba(240,240,240,0.37) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(212,212,212,0.03) 0%,rgba(212,212,212,0.03) 1%,rgba(216,216,216,1) 15%,rgba(240,240,240,0.37) 91%,rgba(240,240,240,0.37) 92%,rgba(240,240,240,0.37) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(212,212,212,0.03) 0%,rgba(212,212,212,0.03) 1%,rgba(216,216,216,1) 15%,rgba(240,240,240,0.37) 91%,rgba(240,240,240,0.37) 92%,rgba(240,240,240,0.37) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(212,212,212,0.03) 0%,rgba(212,212,212,0.03) 1%,rgba(216,216,216,1) 15%,rgba(240,240,240,0.37) 91%,rgba(240,240,240,0.37) 92%,rgba(240,240,240,0.37) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08d4d4d4', endColorstr='#5ef0f0f0',GradientType=0 ); /* IE6-9 */

height: 20px;
width: 100%;
}
.enter-pwd-box{
float: left !important;
width: 185px !important;
height: 37px !important;
border-radius: 4px !important;
margin-left: 21px !important;
margin-bottom: 0 !important;
border: 1px solid #aeb6bf !important;


}
.enter-pwd-text{
float: left;
color: #333333;
font-family: HelveticaNeueLT Std Bold;
font-size: 14px;
padding-top: 9px;
margin-left: 18px;
}
.forgot-pwd{
float: right;
font-size: 14px;
font-family: HelveticaNeueLT Std Med;
/* font-size: 14px; */
cursor: pointer;
padding-top: 7px;
margin-right: 7px;
color: #3366cc;
}
.password-check{
background: #d9e3ef;
padding: 36px 22px 38px 22px;
margin-left: -15px;
margin-top: 51px;
}
.pd-beneficiary-container>div.pd-container-side-headings{
  padding-bottom: 0;
}
.prev-icon{
 float: left;
margin-top: 4px;
vertical-align: sub;
margin-right: 13px;
margin-left: 14px;
}
.next-icon{
  vertical-align: sub;float:right;margin-top: 4px;margin-left: 5px;
}