@font-face {
    font-family: HelveticaNeueLT Std Med;
    src: url(../../src/fonts/HelveticaNeueLTCom-Md.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std Lt;
    src: url(../../src/fonts/HelveticaNeueLTCom-Lt.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std UltLt;
    src: url(../../src/fonts/HelveticaNeueLTStd-UltLt_0.otf);
}

@font-face {
    font-family: HelveticaNeueLT Std Bold;
    src: url(../../src/fonts/HelveticaNeueLTCom-Bd.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std Roman;
    src: url(../../src/fonts/HelveticaNeueLTCom-Roman.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std Thin;
    src: url(../../src/fonts/HelveticaNeueLTStd-Th_0.otf);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, select, input {
	letter-spacing: 0;
	word-spacing: 0;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/*  font-family:'Roboto', Arial, Helvetica, sans-serif; */
	font-weight: 400; }

@font-face{
	font-family: helvetica;
	src: url('../../src/fonts/helvetica/helr45w.ttf')
}
.row {
	max-width: 90rem; }

/*CSS Reset*/
body {
	margin: 0;
	padding: 0;
	 font-family: helvetica;
	/*font-family: 'Open Sans', sans-serif;*/
	background: #e9e9e9; }

.grid-container {
	width: 100%;
	height: 100%;
	max-width: 960px;
	margin: 0 auto;
	box-sizing: border-box; }

/*CSS Reset*/
.float-l {
	float: left; }

.float-r {
	float: right; }

.clearfix {
	clear: both; }

.display-ib {
	display: inline-block; }

.h-100 {
	height: 100%; }

.header-wrapper {
	height: 120px;
	width: 100%;
	/*border-bottom: 1px solid #b9b9b9; */ }

.top-bar {
	background: #03448c;
	color: #fff;
	height: 60px;
	margin: 0;
	overflow: visible;
	z-index: 1; }

.main-menu-bar {
	height: 60px;
	color: white;
	background: #333;
	/*border-bottom: 1px solid #333333; */ }

.top-bar-left {
	height: 100%; }

.menu-small {
	padding-top: 16px;
	margin-right: 10px;
	margin-left: 10px; }

.logo {
	/*margin-left: 30px;*/
	margin-left: 5px;
	padding-top: 15px;
	cursor: pointer;
	display: inline-block; }

.bank-name {
	display: inline-block;
	margin-left: 8px; }

.top-bar-right {
	height: 100%; }

.logout {
	height: 100%;
	padding-top: 15px;
	cursor: pointer;
	text-align: center;
	border-left: 1px solid #3a6ea8;
	background: #04468d; }

.logout-pic {
	margin-right: 20px;
	margin-left: 20px; }

.account {
	height: 100%;
	background: #033e7f; }

.acc-pic {
	height: 50px;
	width: 50px; }

.acc-name {
	vertical-align: middle;
	margin-top: -57px;
	font-size: 12px;
font-family: HelveticaNeueLT Std Roman;
	line-height: 12px;
	padding-top: 25px;
	/*width: 108px;*/
	width: 90px;
	/*padding-left: 10px;*/
	padding-left: 5px;
	height: 100%;
	display: inline-block; }

.personal-banking {
	color:#999999;
	font-size: 9px;
font-family: HelveticaNeueLT Std Med;
	/*font-size: 10px;*/
	 }

.arrow {
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	margin-top: -52px;
	padding-top: 12px;
	margin-right: 10px; }

.message {
	height: 100%;
	cursor: pointer;
	margin-right: 30px; }

.msg-logo {
	padding-top: 12px; }

.dash {
	height: 100%; }

.dashboard {
	margin-top: 8px;
	height: 46px;
	/*margin-left: 30px;*/
	margin-left: 5px;
	border-right: 2px solid #484848; }

.dashboard-active {
	margin-top: 8px;
	height: 46px;
	/*margin-left: 30px;*/
	margin-left: 5px;
	border: 0px;}

.menu-logo {

	
  display: inline-block;
  cursor: pointer;
  margin-top: 9px;
  background: url('../../src/images/main-menu.png');
  height: 26px;
  width: 26px;

 }
.menu-logo-active{

   display: inline-block;
  cursor: pointer;
  margin-top: 12px;
  background: url('../../src/images/close_subheader_1x.png') no-repeat;
  height: 26px;
  width: 26px;
}
.menu-rb{
	float: left;
	height: 60px;
}
.menu-rb-active{
	float: left;
	height: 60px;
	border-right: 2px solid #484848;
}
.opac{
	opacity: 0.2;
}
.menu-txt {
	font-size: 10px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 20px;
	vertical-align: top;
	font-size: 10px;
font-family: HelveticaNeueLT Std Roman;
	margin-top: 10px; }

.dash-txt {
	height: 100%;
	padding-top: 20px;
	padding-left: 15px;
	color: #fff;
	font-size: 18px;
/* font-weight: 700; */
font-family: HelveticaNeueLT Std Bold;
	font-size: 18px;
	font-weight: 700; }

.dash-options {
	font-size: 10px;
font-family: HelveticaNeueLT Std Roman;
	height: 100%; }

.option-block {
	border-left: 1px solid #484848;
	cursor: pointer;
	height: 100%;
	padding-top: 20px;
	float: right; }
.r35580
{
  border-left: 1px solid #484848;
  cursor: pointer;
  height: 100%;
  padding-top: 15px;
  float: right; }

.option-logo {
	display: inline-block;
	margin-left: 15px;
	vertical-align: top;
	margin-top: 2px; }

.option-txt {
	font-size: 11px;
	display: inline-block;
	margin-right: 15px; }


	.menu-overlay{
	width: 100%;
	background: #333333;
	border-top: 1px solid #484848;
	position: absolute;
	z-index: 1;
}
.menu-list{
	width: 100%;
}
.menu-option{
	width: 16.25%;
	/*height: 100px;*/
	padding-top: 30px;
	padding-bottom: 35px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
}
.main-menu-txt{
 font-size: 12px;
 color: white;
}
.display-none{
	display: none;
}
.opac{
	opacity:0.2;
}


/*********************  END HEADER ************************************/
@media only screen and (max-width: 640px) {
	.content-center-small{
		display: inherit;
	}
	.avail-bal-small{
		display: inherit;
	}
	.bank-name {
		display: none; }

	.acc-name {
		display: none; }

	.logo {
		margin-left: 10px; }

	.option-txt {
		display: none; }

	.message {
		margin-right: 25px; }

	.arrow {
		margin-right: 5px;
		margin-left: 5px; }

	.logout-pic {
		margin-right: 10px;
		margin-left: 10px; }

	.dashboard {
		display: none; }

	.dash-txt {
		font-weight: lighter;
		color: #333;
		font-size: 16px;
		font-family: HelveticaNeueLT Std Bold;
		padding-top: 25px; }

	.option-logo {
		margin-right: 12px;
		margin-left: 12px; }

	.content-left{
		padding-left: 10px;
		padding-right: 10px;
	}

	.avail-bal {
		display: none; }

	.content-center {
		display: none; }

	.add-account {
		display: none; } }

		/****************************Payments-FT Container Styles*********************/

.payment-FT-container-wrap{
	padding: 10px 8px 10px 30px;
}
.sub-head-container-wrap{
	padding: 5px 0px 20px 0px;
}
.back-to-pay-text{
/*font-size: 11px;*/
font-size: 10px;
font-family: HelveticaNeueLT Std Roman;
font-weight: 500;
color: #000000;
float: left;
cursor: pointer;
/*padding-top: 4px;*/
}
.back-to-pay-icon{
	float: left;
margin-right: 5px;
cursor: pointer;
padding: 0px;
}
.sub-head-text{
font-size: 32px;
font-family: HelveticaNeueLT Std UltLt;
float: left;
padding: 5px 0px;
}
.sub-head-transfer-type-sel{
border-radius: 5px;
float: left;
margin-left: 65px;
border: 1px solid #c9c9c9;
background: white;
font-size: 10px;
font-family: HelveticaNeueLT Std Roman;
margin-top: 4px;
}
.sub-head-transfer-type-sel>li{
height: 40px;
width: 80px;
float: left;
color: #275dc9;
/*font-size: 11px;*/
/*font-weight: 700;*/
text-align: center;
padding: 9px 11px;
cursor: pointer;
}
.sub-head-transfer-type-sel>li:nth-child(2){
	border-right: 1px solid #c9c9c9;
	border-left: 1px solid #c9c9c9;
}
.sub-head-transfer-selected{
color: white !important;
background: #666666 !important;
position: relative;
}
.sub-head-transfer-selected:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(102, 102, 102, 0);
	border-top-color: #666666;
	border-width: 5px;
	margin-left: -5px;
}
.sub-head-close-button{
float: right;
height: 38px;
width: 25px;
cursor: pointer;
padding-top: 10px;
margin-right: 11px;
}
.pd-container-wrap{
float: right;
width: 85%;
background: #ffffff;
padding-left: 15px;
border-radius: 3px;
border-right: 1px solid #c3c3c3;
border-left: 1px solid #c3c3c3;
/* right: 0; */
margin-right: -4px;
}
.pd-container-side-headings{
	float: left;
color: #202020;
padding: 40px 20px 10px 25px;
font-size: 14px;
/* font-size: 12px; */
font-family: HelveticaNeueLT Std med;
}
.pd-container-second-side-headings{
	float: left;
color: #202020;
padding: 25px 20px 10px 25px;
font-size: 14px;
/* font-size: 12px; */
font-family: HelveticaNeueLT Std med;
}
.pd-account-sel{
	margin: 5px 5px 25px 20px;
}
.pd-account-sel>li{
width: 23%;
float: left;
color: #202020;
border: 1px solid #d8d8d8;
/* margin-right: 9px; */
margin-left: 9px;
border-radius: 7px;
padding: 0.7em 1em 0.5em 1em;
cursor: pointer;
}
.pd-account-sel>li:first-child{
	margin-left: 19px;
}
.pd-account-sel-acc-type{
	float: left;
font-size: 10px;
/* font-size: 12px; */
font-family: HelveticaNeueLT Std Roman;
}
.pd-acc-sel-accNo{
	float: left;
font-size: 10px;
/* font-size: 12px; */
font-family: HelveticaNeueLT Std med;
}
.pd-acc-sel-curBal{
	float: left;
font-size: 10px;
/* font-size: 12px; */
font-family: HelveticaNeueLT Std Roman;
margin-top: 20px;
}
.pd-acc-sel-amount{
	float: left;
font-size: 14px;
/* font-size: 12px; */
font-family: HelveticaNeueLT Std Bold;
}
.pd-acc-selected{
	color: white !important;
	background: #757575 !important;
}
.pd-add-new-beneficiary{
float: left;
background: #246edc;
color: white;
height: 40px;
width: 80px;
font-size: 10px;
font-family: HelveticaNeueLT Std Roman;
text-align: center;
padding: 9px 11px;
cursor: pointer;
border-radius: 7px;
margin-left: 14px;
margin-top: 5px;
}
.pd-select-date-container{
float: left;
height: 90px;
width: 95px;
background: #7d7d7d;
color: white0;
color: white;
text-align: center;
padding-top: 17px;
margin-left: 38px;
border-radius: 6px;
margin-top: 5px;
}
.pd-select-date{
	font-size: 36px;
font-family: HelveticaNeueLT Std UltLt;
}
.pd-select-month{
font-family: HelveticaNeueLT Std Roman;
font-size: 18px;
}
.pd-select-year{
	font-weight: 700;
}
.pd-edit-date{
	float: left;
margin: 18px 19px 0px 12px;
cursor: pointer;
position: relative;
}
.pd-edit-date-text{
	/*font-size: 12px;*/
color: #1561a6;
font-family: HelveticaNeueLT Std Med;
font-size: 13px;
vertical-align: top;
}
.pd-beneficiary-container{
	padding-top: 20px;
	padding-bottom: 10px;
}
.pd-beneficiary-side-links{
		font-size: 33px;
font-weight: 500;
padding-top: 40px;
margin-right: 20px;
cursor: pointer;
float: right;
}
.pd-beneficiary-edit-side-links{
		font-size: 33px;
font-weight: 500;
padding-top: 40px;
margin-right: 20px;
cursor: pointer;
float: right;
}
.beneficiary-sidelinks-img{
	float: left;
}
.beneficiary-sidelinks-text{
font-size: 12px;
font-family: HelveticaNeueLT Std Med;
/*font-size: 13px;*/
color: #1561a6;
/*font-weight: 700;*/
vertical-align: top;
float: right;
width: 101px;
margin-left: 5px;
}
.beneficiary-sidelinks-edit-text{
/*font-size: 12px;*/
color: #3366cc;
font-family: HelveticaNeueLT Std Med;
font-size: 12px;
vertical-align: top;
float: right;
width: 75px;
margin-left: 5px;
}
.beneficiary-table-wrap{
background: #858585;
margin: 0px 20px 10px 5px;
border-radius: 5px;
padding: 19px 10px;
font-family: HelveticaNeueLT Std Roman;
font-size: 12px;
}
.beneficiary-table{
	margin: 23px 10px;
width: 97%;
}
.beneficiary-table-head{
padding-left: 17px;
}
.beneficiary-table-head>li{
	color: white;
font-size: 12px;
font-weight: 500;
float: left;
}

.beneficiary-table-head>li:nth-child(2){
margin-left: 69px;
}
.beneficiary-table-head>li:nth-child(3){
margin-left: 161px;
}

.beneficiary-table-head>li:nth-child(4){
margin-left: 39px;
width: 57px;
text-align: right;
}

.beneficiary-table-head>li:nth-child(5){
width: 60px;
margin-left: 29px;
}

.beneficiary-table-head>li:nth-child(6){
width: 76px;
margin-left: 78px;
}
.beneficiary-table-first-list{
	background: #969696;
margin-top: 15px;
border-radius: 3px;
margin-bottom: 3px;
}
.beneficiary-table-first-list>li{
	 color: white;
font-size: 11px;
font-weight: 500;
float: left;
}

.beneficiary-table-first-list>li:nth-child(1){
margin-left: 5px;
padding: 15px 10px;
}
.beneficiary-table-first-list>li:nth-child(2){
margin-left: 34px;
padding: 15px 10px;
}
.beneficiary-table-first-list>li:nth-child(3){
height: 35px;
width: 168px;
font-family: HelveticaNeueLT Std Bold;
font-size: 14px;
background: white;
border-radius: 4px;
margin-top: 4px;
margin-left: 35px;
}
.beneficiary-table-first-list>li:nth-child(3)>span{
 color: black;
float: right;
padding: 10px;
/*font-weight: 700;*/
font-family: HelveticaNeueLT Std Bold;
font-size: 14px;
}

.beneficiary-table-first-list>li:nth-child(4){
padding: 7px 10px;
width: 80px;
margin-left: 26px;
}
.beneficiary-table-first-list>li:nth-child(5){
height: 33px;
width: 116px;
background: white;
border-radius: 4px;
margin-top: 5px;
margin-left: 18px;
}
.beneficiary-table-first-list>li:nth-child(5)>span{
	color: black;
padding: 10px 6px;
font-weight: 500;
float: left;
}
.beneficiary-table-first-list>li:nth-child(6){
height: 35px;
width: 95px;
background: white;
border-radius: 4px;
margin-top: 4px;
margin-left: 22px;
}
.beneficiary-table-first-list>li:nth-child(6)>span{
	color: black;
padding: 10px 6px;
font-weight: 500;
float: left;
}




.beneficiary-table-second-list{
	background: #969696;
border-radius: 3px;
margin-bottom: 3px;
}
.beneficiary-table-second-list>li{
	 color: white;
font-size: 11px;
font-weight: 500;
float: left;
}

.beneficiary-table-second-list>li:nth-child(1){
margin-left: 5px;
padding: 15px 10px;
}
.beneficiary-table-second-list>li:nth-child(2){
margin-left: 25px;
padding: 15px 10px;
}
.beneficiary-table-second-list>li:nth-child(3){
height: 35px;
width: 168px;
background: white;
border-radius: 4px;
margin-top: 3px;
margin-left: 26px;
}
.beneficiary-table-second-list>li:nth-child(3)>span{
 color: black;
float: right;
padding: 10px;
font-family: HelveticaNeueLT Std Bold;
font-size: 14px;

}

.beneficiary-table-second-list>li:nth-child(4){
padding: 7px 10px;
width: 80px;
margin-left: 26px;
}
.beneficiary-table-second-list>li:nth-child(5){
height: 33px;
width: 116px;
background: white;
border-radius: 4px;
margin-top: 5px;
margin-left: 18px;
}
.beneficiary-table-second-list>li:nth-child(5)>span{
	color: black;
padding: 10px 6px;
font-weight: 500;
float: left;
}
.beneficiary-table-second-list>li:nth-child(6){
height: 35px;
width: 95px;
background: white;
border-radius: 4px;
margin-top: 4px;
margin-left: 22px;
}
.beneficiary-table-second-list>li:nth-child(6)>span{
	color: black;
padding: 10px 6px;
font-weight: 500;
float: left;
}

.ben-totalamount-text{
	float: right;
padding-top: 30px;
font-size: 12px;
font-family: HelveticaNeueLT Std Roman;
/*font-size: 14px;*/
color: white;
padding-right: 10px;

}
.ben-total-amount{
color: white;
font-size: 24px;
font-family: HelveticaNeueLT Std Bold;
/*font-size: 14px;*/
font-weight: 900;
float: right;
margin-right: 10px;
margin-top: 2px;
}
.ben-next-click{
	margin-top: 30px;
float: right;
margin-right: 40px;
margin-bottom: 24px;
cursor: pointer;
}
.ben-next-text{
	color: #3366cc;
font-size: 32px;
font-family: HelveticaNeueLT Std Thin;
/*font-size: 14px;*/
/*font-weight: 500;*/
margin-right: 18px;
}
.pd-bottom-border{
	border-bottom: 1px solid #e6e6e6;
margin-top: 32px;
margin-right: 23px;
margin-left: 5px;
}
.pd-top-border{
		border-bottom: 1px solid #e6e6e6;
margin-right: 23px;
margin-left: 5px;
}
.pd-left-step-wrap{
	float: left;
position: absolute;
margin-left:-23px;
}
.pd-step-container-wrap{
	background: #1561a6;
width: 169px;
padding: 13px;
position: relative;
border-radius: 3px;
margin-top: 20px;

}
.pd-step-container-wrap:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(65, 127, 183, 0);
	border-left-color: #1561a6;
	border-width: 7px;
	margin-top: -7px;
}
.pd-step-no{
	color: white;
/*font-size: 13px;*/
font-size: 12px;
font-family: HelveticaNeueLT Std med;
/*font-weight: 700;*/
}
.pd-step-name{
	color: white;
/*font-size: 13px;*/
/*font-weight: 500;*/
font-size: 14px;
font-family: HelveticaNeueLT Std Lt;
}
.pd-unselected-step-container{
	padding: 13px;
margin-top: 10px;
line-height: 1;
}
.pd-step-two-no{
	color: #292929;
font-size: 12px;
/*font-weight: 700;
*/}
.pd-step-two-name{
	color: #292929;
font-size: 14px;
/*font-weight: 500;*/
}
.pd-step-three-no{
	color: #bfbfbf;
/*font-size: 13px;*/
font-size: 12px;
font-family: HelveticaNeueLT Std med;
/*font-weight: 700;*/
}
.pd-step-three-name{
	color: #bfbfbf;
/*font-size: 14px;*/
/*font-weight: 500;*/
font-size: 14px;
font-family: HelveticaNeueLT Std Lt;
}
.date-container{
	opacity: 0;
position: absolute;
height: 37px;
width: 104px;
cursor: pointer;
top: 0;
}
.bank-name-container{
	padding: 22px 6px 17px 34px;
	border-bottom:1px dashed black;
}
.success-img-spacing{
	margin-right:23px;
}
.page-print-img{
	float:right;
	padding: 16px 56px 0 0;
}
.trans-success-details{
	width:100%;
	/*padding:30px 30px 40px 54px;*/
	padding: 33px 31px 40px 40px;
}

.img-spacing{
	margin-right:20px;
}
.box-spacing{
	margin-top:45px;
	margin-right: 34px;
	margin-left: 10px;
}
.tt{
	width:16.66%;
}
.f-bold{
	font-weight:bold;
}
.success-mssg-f{
	font-size: 24px;
font-family: HelveticaNeueLT Std Thin;
margin-top: 6px;
line-height: 0.9;
}
.ref-font{
	font-size:18px;
	font-family: HelveticaNeueLT Std Thin;
}
.id-font{
	font-size:18px;
	font-family: HelveticaNeueLT Std Bold;
}
.src-scc-f{
	font-size:12px;
	font-family: HelveticaNeueLT Std Roman;
}
.family-id-f{
	font-size:14px;
	font-family: HelveticaNeueLT Std Bold;
}
.table-name{
	width:15%;
	display: inline-block;
	vertical-align: bottom;
}
.table-container{
	font-size:12px;
}
.table-amount{
	width: 13%;
text-align: right;
display: inline-block;
vertical-align: bottom;
margin-top: 3px;
margin-left: 4px;
}
.table-benificiary{
	/*width:20.5%;*/
	margin-left:10.5%;
	text-align:left;
	display: inline-block;
	vertical-align: bottom;
	/*padding-right:13px;*/
}
.table-status{
	width:12%;
	margin-left:5%;
	text-align:left;
	display: inline-block;
	vertical-align: bottom;
	padding-right:12px;
}
.table-head-spac{
	list-style-type:none;
	width:100%;
	display:block;
	margin:0;
	background-color: #F4F4F5;
	line-height: 3.4;
	margin-bottom:1px;
	padding-left:10px;
	margin-top:3px;
	position:relative;
}
.table-img-spac{
	margin-left: 22px;
	margin-right: 20px;
	top: 14px;
	position: absolute;
}
.total-amt-container{
	margin-top: 21px;
	text-align: right;
	font-size: 12px;
	font-family: HelveticaNeueLT Std Roman;
	margin-right:11px;
}
.TotalAmount-spacing{
	font-size: 24px;
	font-family: HelveticaNeueLT Std Bold;
}
.loan-amt-f{
	font-size:10px;
}
.pd-step-container-wrap{
	width:170px;
	margin-top:27px;
	color:#999999;
}
.pd-left-step-wrap{
	left:32px;
}
.currency-positioning{
	letter-spacing:5px;
}
.pdf-pos{
	right: 35px;
	top: 13px;
	position: absolute;
}