@font-face {
    font-family: HelveticaNeueLT Std Med;
    src: url(../../src/fonts/HelveticaNeueLTCom-Md.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std Lt;
    src: url(../../src/fonts/HelveticaNeueLTCom-Lt.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std UltLt;
    src: url(../../src/fonts/HelveticaNeueLTStd-UltLt_0.otf);
}

@font-face {
    font-family: HelveticaNeueLT Std Bold;
    src: url(../../src/fonts/HelveticaNeueLTCom-Bd.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std Roman;
    src: url(../../src/fonts/HelveticaNeueLTCom-Roman.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std Thin;
    src: url(../../src/fonts/HelveticaNeueLTStd-Th_0.otf);
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, select, input {
  letter-spacing: 0;
  word-spacing: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /*  font-family:'Roboto', Arial, Helvetica, sans-serif; */
  font-weight: 400; }

.row {
  max-width: 90rem; }

/*CSS Reset*/
body {
  margin: 0;
  padding: 0;
  /*font-family: 'Open Sans', sans-serif;*/
  background: #e9e9e9; }

.grid-container {
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box; }

/*CSS Reset*/
.float-l {
  float: left; }

.float-r {
  float: right; }

.clearfix {
  clear: both; }

.display-ib {
  display: inline-block; }

.h-100 {
  height: 100%; }

.header-wrapper {
  height: 120px;
  width: 100%;
  /*border-bottom: 1px solid #b9b9b9; */ }

.top-bar {
  background: #03448c;
  color: #fff;
  height: 60px;
  margin: 0;
  overflow: visible;
  z-index: 1; }

.main-menu-bar {
  height: 60px;
  color: white;
  background: #333;
  /*border-bottom: 1px solid #333333; */ }

.top-bar-left {
  height: 100%; }

.menu-small {
  padding-top: 16px;
  margin-right: 10px;
  margin-left: 10px; }

.logo {
  /*margin-left: 30px;*/
  margin-left: 5px;
  padding-top: 15px;
  cursor: pointer;
  display: inline-block; }

.bank-name {
  display: inline-block;
  margin-left: 8px; }

.top-bar-right {
  height: 100%; }

.logout {
  height: 100%;
  padding-top: 15px;
  cursor: pointer;
  text-align: center;
  border-left: 1px solid #3a6ea8;
  background: #04468d; }

.logout-pic {
  margin-right: 20px;
  margin-left: 20px; }

.account {
  height: 100%;
  background: #033e7f; }

.acc-pic {
  height: 50px;
  width: 50px; }

.acc-name {
  vertical-align: middle;
  margin-top: -57px;
  font-size: 12px;
font-family: HelveticaNeueLT Std Roman;
  line-height: 12px;
  padding-top: 25px;
  /*width: 108px;*/
  width: 90px;
  /*padding-left: 10px;*/
  padding-left: 5px;
  height: 100%;
  display: inline-block; }

.personal-banking {
 color: #979798;
font-size: 9px;
font-family: HelveticaNeueLT Std Med; }

.arrow {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-top: -52px;
  padding-top: 12px;
  margin-right: 10px; }

.message {
  height: 100%;
  cursor: pointer;
  margin-right: 30px; }

.msg-logo {
  padding-top: 12px; }

.dash {
  height: 100%; }

.dashboard {
  margin-top: 8px;
  height: 46px;
  /*margin-left: 30px;*/
  margin-left: 5px;
  border-right: 2px solid #484848; }

.dashboard-active {
  margin-top: 8px;
  height: 46px;
  /*margin-left: 30px;*/
  margin-left: 5px;
  border: 0px;}

.menu-logo {
  display: inline-block;
  cursor: pointer;
  margin-top: 7px;
  background: url('../../src/images/main-menu.png');
  height: 26px;
  width: 26px;
 }
.menu-logo-active{
   display: inline-block;
  cursor: pointer;
  margin-top: 12px;
  background: url('../../src/images/close_subheader_1x.png') no-repeat;
  height: 26px;
  width: 26px;
}
.menu-rb{
  float: left;
  height: 60px;
}
.menu-rb-active{
  float: left;
  height: 60px;
  border-right: 2px solid #484848;
}
.opac{
  opacity: 0.2;
}
.menu-txt {
  font-size: 10px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 20px;
  vertical-align: top;
font-size: 10px;
font-family: HelveticaNeueLT Std Roman;
  margin-top: 10px; }

.dash-txt {
  height: 100%;
  padding-top: 20px;
  padding-left: 15px;
  color: #fff;
  font-size: 18px;
/*font-weight: 700;*/
font-family: HelveticaNeueLT Std Bold;
  font-size: 18px;
  font-weight: 700; }

.dash-options {
  font-size: 10px;
font-family: HelveticaNeueLT Std Roman;
  height: 100%; }

.option-block {
  border-left: 1px solid #484848;
  cursor: pointer;
  height: 100%;
  padding-top: 20px;
  float: right; }

.option-logo {
  display: inline-block;
  margin-left: 15px;
  vertical-align: top;
  margin-top: 2px; }

.option-txt {
  font-size: 11px;
  display: inline-block;
  margin-right: 15px; }


  .menu-overlay{
  width: 100%;
  background: #333333;
  border-top: 1px solid #484848;
  position: absolute;
  z-index: 1;
}
.menu-list{
  width: 100%;
}
.menu-option{
  width: 16.25%;
  /*height: 100px;*/
  padding-top: 30px;
  padding-bottom: 35px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.main-menu-txt{
 font-size: 12px;
 color: white;
}
.display-none{
  display: none;
}


/*********************  END HEADER ************************************/
.content-wrapper {
  width: 100%;
  /*height: 300px;*/
  /*padding: 20px 60px;*/
  /*background: white;*/
  /*padding: 15px 40px;*/
  padding: 15px 30px; }

.f-12 {
  font-size: 12px; }

.f-18 {
  font-size: 18px; }

.back-acc{
  cursor: pointer;
}
.personal-block-wrapper{
  width: 100%;
}
.savings-txt{
  font-size: 14px;
  font-weight: bold;
}
.personal-text{
  font-size: 32px;
  font-family: HelveticaNeueLT Std Thin;
}
.personal-block {
display: inline-block;
margin-right: 40px;
padding-top: 15px;
}
.avail-bal{
  display: inline-block;
  margin-right: 40px;
}
.avail-bal-txt{
  color: #9a9a9a;
  font-size: 14px;
}
.avail-bal-amt{
  color: #585858;
  font-size: 28px;
}
.statement-block{
  /*height: 75px;*/
  display: inline-block;
  vertical-align:top;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
}
.statement-box{
  display: inline-block;
  cursor: pointer;
  padding: 15px 15px 15px 15px;
}
.statement-img{
  text-align: center;
  margin-bottom: 10px;
}
.statement-txt{
  font-size: 12px;
  color: #2570e0;
}
.selected-statement-box{
  background: #666666;
  color: #fff;
  position: relative;
  /*border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;*/
}
.selected-statement-box>div{
  color: #fff;
}
.selected-statement-box:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(102, 102, 102, 0);
  border-top-color: #666666;
  border-width: 8px;
  margin-left: -7px;
}
.transactions-block-wrapper{
  width: 100%;
  margin-top: 10px;
}
.transactions-block{
  height: 70px;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 40px;
  background: #59728d;
  /*border-bottom: 2px solid #3f5165;*/
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.trans-txt{
  color: white;
  font-size: 18px;
}
.download{
  display: inline-block;
  cursor: pointer;
}
.download-txt {
font-size: 12px;
font-family: HelveticaNeueLT Std Roman;
margin-left: 10px;
vertical-align: top;
color: white;
}
.table-wrapper{
  width: 100%;
  background: #7fa3ca;
  padding: 20px;
}
.table{
  width: 100%;
}
.trans-table{
  width: 100%;
  /*padding: 0px 20px;*/
}
.transaction{
 margin-bottom: 1px;
  font-size: 14px;
  background: white;
  height: 50px;
  border-radius: 5px;
  padding: 0px 10px 0 20px;
  
}
.transaction>div{
  font-size: 12px;
}
.transaction:nth-child(odd) {
  background: #f2f6fa; }
.transaction:first-child{
  color: white !important;
  background: transparent;
  height: 30px;
  padding-top: 5px;
  font-weight: bold;
}

.trans-date{
  width: 90px;
}
.trans-desc{
  width: 110px;
}

.trans-cat{
  width: 30px;
}
.f-bold{
  font-weight: bold;
}
.f-10{
  font-size: 10px;
}
.trans-req{
  width: 80px;
  /*margin-left: 80px;*/
  margin-left: 60px;
}
.trans-action{
  width: 300px;
  text-align: left;
  margin-left: 40px;
}

.edit{
  /*height: 100%;*/
  /*width: 50px;*/
  height: 30px;
  border-radius: 3px;
  background: #ebebeb;
  text-align: center;
  padding: 6px 10px;
  padding-top: 8px;
  cursor: pointer;
  color: #696969;
  /*font-weight: bold;*/
  display: inline-block;
  margin-left: 10px;
}
/*.edit:first-child{
  margin-left: 0px;
}*/
/*.edit>span{
   font-weight: bold;
}*/
.pt-20{
  padding-top: 20px;
}










@media only screen and (max-width: 640px) {
  .content-center-small{
    display: inherit;
  }
  .avail-bal-small{
    display: inherit;
  }
  .bank-name {
    display: none; }

  .acc-name {
    display: none; }

  .logo {
    margin-left: 10px; }

  .option-txt {
    display: none; }

  .message {
    margin-right: 25px; }

  .arrow {
    margin-right: 5px;
    margin-left: 5px; }

  .logout-pic {
    margin-right: 10px;
    margin-left: 10px; }

  .dashboard {
    display: none; }

  .dash-txt {
    font-weight: lighter;
    color: #333;
    font-size: 16px;
    padding-top: 25px; }

  .option-logo {
    margin-right: 12px;
    margin-left: 12px; }

  .content-left{
    padding-left: 10px;
    padding-right: 10px;
  }

  .avail-bal {
    display: none; }

  .content-center {
    display: none; }

  .add-account {
    display: none; } }

    @media only screen and (max-width: 920px) and (min-width: 640px) {
  .avail-bal {
    display: none; }

  .content-center {
    display: none;
     }

  .add-account {
    display: none; }

    .content-center-small{
    display: inherit;
    margin-bottom: 30px;
    }
    .avail-bal-small{
    display: inherit;
  } 
   .content-left{
    padding-left: 10px;
    padding-right: 10px;
  }
  .content-wrapper{
    padding-right: 10px;
  }
}
/*# sourceMappingURL=common.css.map */

/*# sourceMappingURL=common.css.map */
