@font-face {
    font-family: HelveticaNeueLT Std Med;
    src: url(../../src/fonts/HelveticaNeueLTCom-Md.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std Lt;
    src: url(../../src/fonts/HelveticaNeueLTCom-Lt.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std UltLt;
    src: url(../../src/fonts/HelveticaNeueLTStd-UltLt_0.otf);
}

@font-face {
    font-family: HelveticaNeueLT Std Bold;
    src: url(../../src/fonts/HelveticaNeueLTCom-Bd.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std Roman;
    src: url(../../src/fonts/HelveticaNeueLTCom-Roman.ttf);
}

@font-face {
    font-family: HelveticaNeueLT Std Thin;
    src: url(../../src/fonts/HelveticaNeueLTStd-Th_0.otf);
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, select, input {
  letter-spacing: 0;
  word-spacing: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /*  font-family:'Roboto', Arial, Helvetica, sans-serif; */
  font-weight: 400; }

.row {
  max-width: 90rem; }

/*CSS Reset*/
body {
  margin: 0;
  padding: 0;
  /*font-family: 'Open Sans', sans-serif;*/
  background: #e9e9e9; }

.grid-container {
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box; }

/*CSS Reset*/
.float-l {
  float: left; }

.float-r {
  float: right; }

.clearfix {
  clear: both; }

.display-ib {
  display: inline-block; }

.h-100 {
  height: 100%; }

.header-wrapper {
  height: 120px;
  width: 100%;
  /*border-bottom: 1px solid #b9b9b9; */ }

.top-bar {
  background: #03448c;
  color: #fff;
  height: 60px;
  margin: 0;
  overflow: visible;
  z-index: 1; }

.main-menu-bar {
  height: 60px;
  color: white;
  background: #333;
  /*border-bottom: 1px solid #333333; */ }

.top-bar-left {
  height: 100%; }

.menu-small {
  padding-top: 16px;
  margin-right: 10px;
  margin-left: 10px; }

.logo {
  /*margin-left: 30px;*/
  margin-left: 5px;
  padding-top: 15px;
  cursor: pointer;
  display: inline-block; }

.bank-name {
  display: inline-block;
  margin-left: 8px; }

.top-bar-right {
  height: 100%; }

.logout {
  height: 100%;
  padding-top: 15px;
  cursor: pointer;
  text-align: center;
  border-left: 1px solid #3a6ea8;
  background: #04468d; }

.logout-pic {
  margin-right: 20px;
  margin-left: 20px; }

.account {
  height: 100%;
  background: #033e7f; }

.acc-pic {
  height: 50px;
  width: 50px; }

.acc-name {
  vertical-align: middle;
  margin-top: -57px;
  font: menu;
  line-height: 12px;
  padding-top: 25px;
  /*width: 108px;*/
  width: 90px;
  /*padding-left: 10px;*/
  padding-left: 5px;
  height: 100%;
  display: inline-block; }

.personal-banking {
  color: #979798;
  font-size: 10px; }

.arrow {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-top: -52px;
  padding-top: 12px;
  margin-right: 10px; }

.message {
  height: 100%;
  cursor: pointer;
  margin-right: 30px; }

.msg-logo {
  padding-top: 12px; }

.dash {
  height: 100%; }

.dashboard {
  margin-top: 8px;
  height: 46px;
  /*margin-left: 30px;*/
  margin-left: 5px;
  border-right: 2px solid #484848; }

.dashboard-active {
  margin-top: 8px;
  height: 46px;
  /*margin-left: 30px;*/
  margin-left: 5px;
  border: 0px;}

.menu-logo {
  display: inline-block;
  cursor: pointer;
  margin-top: 7px;
  background: url('../../src/images/main-menu.png');
  height: 26px;
  width: 26px;
 }
.menu-logo-active{
   display: inline-block;
  cursor: pointer;
  margin-top: 7px;
  background: url('../../src/images/close_subheader_1x.png') no-repeat;
  height: 26px;
  width: 26px;
}
.menu-rb{
  float: left;
  height: 60px;
}
.menu-rb-active{
  float: left;
  height: 60px;
  border-right: 2px solid #484848;
}
.opac{
  opacity: 0.2;
}
.menu-txt {
  font-size: 10px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 20px;
  vertical-align: top;
  font-size: 10px;
font-family: HelveticaNeueLT Std Roman;
  margin-top: 10px; }

.dash-txt {
  height: 100%;
  padding-top: 20px;
  padding-left: 15px;
  color: #fff;
  font-size: 18px;
  font-weight: 700; }

.dash-options {
  height: 100%; }

.option-block {
  border-left: 1px solid #484848;
  cursor: pointer;
  height: 100%;
  padding-top: 20px;
  float: right; }

.option-logo {
  display: inline-block;
  margin-left: 15px;
  vertical-align: top;
  margin-top: 2px; }

.option-txt {
  font-size: 11px;
  display: inline-block;
  margin-right: 15px; }


  .menu-overlay{
  width: 100%;
  background: #333333;
  border-top: 1px solid #484848;
  position: absolute;
  z-index: 1;
}
.menu-list{
  width: 100%;
}
.menu-option{
  width: 16.25%;
  /*height: 100px;*/
  padding-top: 30px;
  padding-bottom: 35px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.main-menu-txt{
 font-size: 12px;
 color: white;
}
.display-none{
  display: none;
}


/*********************  END HEADER ************************************/
.content-wrapper {
  width: 100%;
  /*height: 300px;*/
  /*padding: 20px 60px;*/
  /*background: white;*/
  /*padding: 15px 40px;*/
  padding: 10px 15px; }

.f-12 {
  font-size: 12px; }

.f-18 {
  font-size: 18px; }

.back-acc{
  cursor: pointer;
}
.personal-block-wrapper{
  width: 100%;
  padding: 0 15px;
}
.savings-txt{
  font-size: 14px;
  font-weight: bold;
}
.personal-text{
  font-size: 32px;
  font-family: HelveticaNeueLT Std Thin;
}
.personal-block {
display: inline-block;
margin-right: 40px;
padding-top: 8px;
}

.transaction-block-wrapper{
  width: 100%;
  margin-top: 15px;
  /*border-radius: 3px;*/
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: white;
  padding: 30px 60px 20px 60px;

}
.trans-details{
  width: 100%;
  color: #333333;
}
.trans-details-left{
  width: 39%;
  display: inline-block;
}
.trans-details-center{
  width: 41%;
  display: inline-block;
}
.trans-details-right{
  width: 18%;
  display: inline-block;
}
.trans-title{
  font-size: 12px;
  font-family: HelveticaNeueLT Std Roman;
}
.trans-value{
  font-size: 22px;
  font-family: HelveticaNeueLT Std Lt;
}
.f-bold{
  font-weight: bold;
}
.trans-history{
  width: 100%;
  margin-top: 52px;
}
.history{
  font-size: 14px;
  font-family: HelveticaNeueLT Std Med;
  margin-bottom: 8px;
}
.history-table{
  width: 100%;
  background: #e3e3e3;
  border-radius: 3px;
  padding: 15px 10px;
  border: 1px solid #dbdbdb;
  border-bottom: 0px;
  padding-bottom: 20px;
}
.history-list{
  width: 100%;
}
.history-value{
  width: 100%;
  height: 50px;
  margin-bottom: 1px;
  border-radius: 3px;
  padding: 17px;
  font-size: 12px;
  color: #333333;
  font-family: HelveticaNeueLT Std Bold;
}

.history-value:nth-child(odd) {
  background: #fff; }
.history-value:nth-child(even) {
  background: #eeeeee; }

.history-value:first-child{
  padding-top: 0px;
  background: transparent;
  height: 25px;
}
.history-value:first-child>div{
  /*font-weight: bold;*/
}
.hist-date{
  width: 13%;
  display: inline-block;
}
.hist-action{
  width: 23%;
  display: inline-block;
}
.hist-by{
  width: 15%;
  display: inline-block;
}
.hist-remarks{
  width: 45%;
  display: inline-block;
}
.remark-block-wrapper{
  width: 100%;
  background: #d9e3ef;
  padding: 35px 60px 20px 57px;
}
.remarks-txt{
  display: inline-block;
  font-family: HelveticaNeueLT Std Bold;
  font-size:14px;
  width: 15%;
  color: #333333;
}
.textbox-wrapper{
  display: inline-block;
  width: 23%;
}
.text-box{
  /*width: 35% !important;*/
  height:35px !important;
  border-radius: 3px !important;
  border:1px solid #aeb6bf !important;
  border-bottom: 0px;
  outline: none !important;
}
.forgot-pass{
  display: inline-block;
  color: #3366cc;
  cursor: pointer;
  font-family: HelveticaNeueLT Std Med;
  font-size:14px;
}
.confirm-block-wrapper{
  width: 100%;
  height: 90px;
  background: #fff;
  padding-top: 27px;
  padding-right: 50px;
}
.confirm-txt{
  font-size: 32px;
  font-family: HelveticaNeueLT Std Thin;
  
  color: #3366cc;
  margin-right: 10px;
}






.bank-name-container{
  padding: 26px 6px 17px 0px;
  border-bottom:1px dashed black;
}
.success-img-spacing{
  margin-right:25px;
}
.page-print-img{
  float:right;
  padding: 16px 40px 0 0;
}
.logo {
  /*margin-left: 30px;*/
  margin-left: 5px;
  padding-top: 15px;
  cursor: pointer;
  display: inline-block; }

.bank-name {
  display: inline-block;
  margin-left: 8px; }
.img-spacing{
  margin-right:20px;
}
.success-mssg-f{
  font-size:24px;
  font-family: HelveticaNeueLT Std Thin;
  margin-top:3px;
  line-height:1.2;
}
.ref-font{
  font-size:18px;
  font-family: HelveticaNeueLT Std Thin;
}
.id-font{
  font-size:18px;
  font-family: HelveticaNeueLT Std Bold;
}

@media only screen and (max-width: 640px) {
  .content-center-small{
    display: inherit;
  }
  .avail-bal-small{
    display: inherit;
  }
  .bank-name {
    display: none; }

  .acc-name {
    display: none; }

  .logo {
    margin-left: 10px; }

  .option-txt {
    display: none; }

  .message {
    margin-right: 25px; }

  .arrow {
    margin-right: 5px;
    margin-left: 5px; }

  .logout-pic {
    margin-right: 10px;
    margin-left: 10px; }

  .dashboard {
    display: none; }

  .dash-txt {
    font-weight: lighter;
    color: #333;
    font-size: 16px;
    padding-top: 25px; }

  .option-logo {
    margin-right: 12px;
    margin-left: 12px; }

  .content-left{
    padding-left: 10px;
    padding-right: 10px;
  }

  .avail-bal {
    display: none; }

  .content-center {
    display: none; }

  .add-account {
    display: none; } }

    @media only screen and (max-width: 920px) and (min-width: 640px) {
  .avail-bal {
    display: none; }

  .content-center {
    display: none;
     }

  .add-account {
    display: none; }

    .content-center-small{
    display: inherit;
    margin-bottom: 30px;
    }
    .avail-bal-small{
    display: inherit;
  } 
   .content-left{
    padding-left: 10px;
    padding-right: 10px;
  }
  .content-wrapper{
    padding-right: 10px;
  }
}
/*# sourceMappingURL=common.css.map */

/*# sourceMappingURL=common.css.map */
