<ng-include src="'views/header.html'"></ng-include>
<div class="grid-container clearfix content-wrapper" >
          <div class="all-accounts-body-container clearfix">
            <div class="row allaccounts-sub-header clearfix">
              <span class="allaccounts-sub-header-text">All Accounts</span>
              <a >
                <img class="allaccounts-sub-header-image" src="images/close_subheader_1x.png" x-ng-click = 'goToDashboard()'>
              </a>
            </div>
            <div class="row large-12 allacc-body-content-wrapper clearfix">
              <div class="columns large-4 medium-6 body-wrap" data-ng-repeat="account in data.accounts">
                <div list-display accountdata="account"></div>
              </div>
            </div>
          </div>
</div>
