<ng-include src="'views/header.html'"></ng-include>
<div class=" grid-container clearfix" >
  <div class="payment-FT-container-wrap clearfix">
    <div class="content-block-wrapper">
      <div class="content-block">
         <div class="block-title-acc">
            <div class="float-l title-acc">
                      All Accounts
                                          </div>                                                                
                                      </div>
                                      <div class="gradient">                                          
                                      </div>
                                      <div class="initiate-pay-btn float-r goToAcc" data-ng-click="GoToAllAccount()">Go To All Accounts Payment</div>
                                      <div class="initiate-pay-btn float-r goToBiller" data-ng-click="GoToBiller()">Go To All Billers</div>
                      </div>
    
  </div>
