<div class = "loginWrapper" >
<div class="password-check clearfix">
              <span class="enter-pwd-text">Enter User Name</span>
              <input type="Text" class="enter-pwd-box" x-ng-model = "User.UserId">
              <span class="enter-pwd-text">Enter Password</span>
              <input type="password" class="enter-pwd-box" x-ng-model = "User.Password">
              <span class="forgot-pwd">Forgot Password?</span>

          </div>
          <div class="ben-next-prev-click clearfix">
            <a>
            <input type="submit" style="float:left" class="ben-next-text" data-ng-click = "logIn(User.UserId,User.Password)" value = "Login">
            <img src="images/right-arrow-2x.png" class="next-icon loginCrossbutton"/>
            <!-- <img src="../../src/images/dbright.png" style="float:right;margin-top: 6px;"> -->
            
            </a>
          </div>
          <div class="errMsg" ng-show="errorMsgIsVisible">{{errorMsg}}</div>
</div>