<div class="header-wrapper">
          <div class="top-bar">
           <div class="grid-container">
              <div class="top-bar-left float-l">
                  <div class="logo">
                  <img src="images/bank-logo.png">
                  </div>
                   <div class="bank-name">
                  <img src="images/bank-name.png">
                  </div>
              </div>
              <div class="top-bar-right float-r">
              <div class="last-login float-l">Last Login Time:<span>{{ data.userProfile.lastLoggedIn }}</span></div>
              
              <div class="last-login float-l">UserId : <span>{{ data.userProfile.digitalId.username }}</span></div>
                  <div class="logout float-r">
                    <img class="logout-pic" src="images/close-button.png" x-ng-click = "megaMenuClick()">
                  </div>
                  
                  
              </div>
              </div>
          </div>
          <div class="main-menu-bar">
           <div class="grid-container">
              <div class="float-l dash"> 
                  <div class="dashboard float-l">
                      <div class="menu-logo"></div>
                      <div class="menu-txt">
                        <p>MAIN</p><p>MENU</p>
                      </div>
                  </div>
                  <div class="dash-txt float-l">
                      Payments
                  </div>
              </div>
              <div class="float-r dash-options">
                    <div class="option-block">
                          <div class="option-logo"><img src="images/reach-us.png"></div>
                          <div class="option-txt">
                            <p>REACH</p><p>US OUT</p>
                          </div>
                    </div>
                    <div class="option-block">
                          <div class="option-logo"><img src="images/get-statement.png"></div>
                          <div class="option-txt">
                            <p>GET</p><p>STATEMENT</p>
                          </div>
                    </div>
                    <div class="option-block">
                          <div class="option-logo"><img src="images/pay-bills.png"></div>
                          <div class="option-txt">
                            <p>PAY</p><p>BILLS</p>
                          </div>
                    </div>
                    <div class="option-block">
                          <div class="option-logo"><img src="images/quick-transfer-2.png"></div>
                          <div class="option-txt">
                            <p>QUICK</p><p>TRANSFER</p>
                          </div>
                    </div>
                </div>
            </div>
          </div>
          <ng-include src="'views/template/headeroverlay.html'"></ng-include>
</div>
<div ui-view></div>